{extend name="public/base"/}
{block name="style"}
<link rel="stylesheet" type="text/css" href="__CSS__/metronic.css"/>
<link rel="stylesheet" type="text/css" href="/public/business/css/selectArea.css">
<link rel="stylesheet" type="text/css" href="/public/business/lib/metronic/css/select2_metro.css">
<style type="text/css">
	.pic-block{
		padding: 5px;
	}
	.pic-block img{
		width: 100%;
	}
</style>
<script type="text/javascript">
	var info = {};
	try {
		info = JSON.parse('{$infoStr}');
	} catch (e) {
		alert("数据异常");
	}
</script>
{/block}
{block name="body"}
<div class="main-box clearfix">
	<header class="main-box-header clearfix">
		<div class="pull-left">
			<h2>{$meta_title}</h2>
		</div>
	</header>
	<div class="main-box-body clearfix">
		<div class="tabs-wrapper">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#tab_1_1" data-toggle="tab">订单信息</a></li>
				<li><a href="#tab_1_2" data-toggle="tab">渠道信息</a></li>
				<li><a href="#tab_1_3" data-toggle="tab">客户信息</a></li>
				<li><a href="#tab_1_4" data-toggle="tab">还款信息</a></li>
				<li><a href="#tab_1_5" data-toggle="tab">逾期信息</a></li>
				<li><a href="#tab_1_6" data-toggle="tab">附件资料</a></li>
				<li><a href="#tab_1_7" data-toggle="tab">审批历史</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="tab_1_1" name="order_info">
					<div class="form-horizontal">
					  	<div class="form-group">
						    <label class="col-sm-2 control-label">项目编号</label>
						    <div class="col-sm-10 pt5">
						     	<span name="sn" class="customer-info"></span>
						    </div>
						</div>
						<div class="form-group">
						    <label class="col-sm-2 control-label">申请时间</label>
						    <div class="col-sm-10 pt5">
						      	<span name="create_time" class="customer-info"></span>
						    </div>
						</div>
						<div class="form-group">
						    <label class="col-sm-2 control-label">项目类型</label>
						    <div class="col-sm-10 pt5">
						      	<span name="type" class="customer-info"></span>
						    </div>
						</div>
						<div class="form-group">
						    <label class="col-sm-2 control-label">借款金额</label>
						    <div class="col-sm-10 pt5">
						      	<span name="loan_limit" class="customer-info"></span>
						    </div>
						</div>
						<div class="form-group">
						    <label class="col-sm-2 control-label">借款期限(天)</label>
						    <div class="col-sm-10 pt5">
						      	<span name="endtime" class="customer-info"></span>
						    </div>
						</div>
						<div class="form-group">
						    <label class="col-sm-2 control-label">流程节点</label>
						    <div class="col-sm-10 pt5">
						      	<span name="status" class="customer-info"></span>
						    </div>
						</div>
						<div class="form-group">
						    <label class="col-sm-2 control-label">项目状态</label>
						    <div class="col-sm-10 pt5">
						      	<span name="" class="customer-info">正常</span>
						    </div>
						</div>
						<div class="form-group">
						    <label class="col-sm-2 control-label">资金方案</label>
						    <div class="col-sm-10 pt5">
						      	<span name="" class="customer-info">平安银行 36期</span>
						    </div>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="tab_1_2" name="channel_info">
					<div class="form-horizontal">
					  	<div class="form-group">
						    <label class="col-sm-2 control-label">渠道编码</label>
						    <div class="col-sm-10 pt5">
						     	<span name="invite_code" class="customer-info"></span>
						    </div>
						</div>
						<div class="form-group">
						    <label class="col-sm-2 control-label">渠道名称</label>
						    <div class="col-sm-10 pt5">
						     	<span name="name" class="customer-info"></span>
						    </div>
						</div>
						<div class="form-group">
						    <label class="col-sm-2 control-label">信用代码</label>
						    <div class="col-sm-10 pt5">
						     	<span name="credit_code" class="customer-info"></span>
						    </div>
						</div>
						<div class="form-group">
						    <label class="col-sm-2 control-label">营业时间</label>
						    <div class="col-sm-10 pt5">
						     	<span name="lic_validity" class="customer-info"></span>
						    </div>
						</div>
						<div class="form-group">
						    <label class="col-sm-2 control-label">联系电话</label>
						    <div class="col-sm-10 pt5">
						     	<span name="mobile" class="customer-info"></span>
						    </div>
						</div>
						<div class="form-group">
						    <label class="col-sm-2 control-label">单位所在地</label>
						    <div class="col-sm-10 pt5">
						     	<span name="city_addr" class="customer-info"></span>
						    </div>
						    <div class="controls" id="loc" style="display: none">
								<select id="loc_province" class="selectArea"></select>
								<select id="loc_city" class="selectArea"></select>
								<select id="loc_town" class="selectArea"></select>
							</div>
						</div>
						<div class="form-group">
						    <label class="col-sm-2 control-label">详细地址</label>
						    <div class="col-sm-10 pt5">
						     	<span name="addr" class="customer-info"></span>
						    </div>
						</div>
						<div class="form-group">
						    <label class="col-sm-2 control-label">业务员</label>
						    <div class="col-sm-10 pt5">
						     	<span name="salesman" class="customer-info"></span>
						    </div>
						</div>
						<div class="form-group">
						    <label class="col-sm-2 control-label">联系方式</label>
						    <div class="col-sm-10 pt5">
						     	<span name="salesmobile" class="customer-info"></span>
						    </div>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="tab_1_3" name="member_info">
					<div class="form-horizontal">
						<div class="form-group">
						    <label class="col-sm-2 control-label">手机号</label>
						    <div class="col-sm-10 pt5">
						     	<span name="mobile" class="customer-info"></span>
						    </div>
						</div>
						<div class="form-group">
						    <label class="col-sm-2 control-label">真实姓名</label>
						    <div class="col-sm-10 pt5">
						     	<span name="realname" class="customer-info"></span>
						    </div>
						</div>
						<div class="form-group">
						    <label class="col-sm-2 control-label">身份证号</label>
						    <div class="col-sm-10 pt5">
						     	<span name="idcard" class="customer-info"></span>
						    </div>
						</div>
						<div class="form-group">
						    <label class="col-sm-2 control-label">银行卡信息</label>
						    <div class="col-sm-10 pt5">
						     	<span name="bankcard" class="customer-info"></span>
						    </div>
						</div>
						<div class="form-group">
						    <label class="col-sm-2 control-label">评分</label>
						    <div class="col-sm-10 pt5">
						     	<span name="credit_score" class="customer-info"></span>
						    </div>
						</div>
						<div class="form-group">
						    <label class="col-sm-2 control-label">评分等级</label>
						    <div class="col-sm-10 pt5">
						     	<span name="credit_level" class="customer-info"></span>
						    </div>
						</div>
						<div class="form-group">
						    <label class="col-sm-2 control-label">用户状态</label>
						    <div class="col-sm-10 pt5">
						     	<span name="credit_status" class="customer-info"></span>
						    </div>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="tab_1_4">
				<!-- todo -->
					<table class="table table-hover" id="repay">
						<caption>还款计划</caption>
						<thead>
							<tr>
								<th>还款期数</th>
								<th>还款时间</th>
								<th>还款金额</th>
								<th>状态</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="tab-pane" id="tab_1_5">
				<!-- todo -->
					<table class="table table-hover" id="overdue">
						<caption>逾期记录</caption>
						<thead>
							<tr>
								<th>逾期期数</th>
								<th>逾期天数</th>
								<th>逾期利率</th>
								<th>应还日期</th>
								<th>应还本金</th>
								<th>应还利息</th>
								<th>违约金</th>
								<th>还款状态</th>
								<th>备注</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="tab-pane" id="tab_1_6">
					<div class="form-horizontal">
						<div class="form-group pic-container">
						</div>
					</div>
				</div>
				<div class="tab-pane" id="tab_1_7">
					<table class="table table-hover" id="examine-history">
						<caption>审批历史</caption>
						<thead>
							<tr>
								<th>序号</th>
								<th>流程节点</th>
								<th>操作人</th>
								<th>备注</th>
								<th>时间</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
					<div id="orderExamine" class="form-horizontal">
						<p>审核结果</p>
						<div class="form-group">
					    	<label class="col-sm-2 control-label">审核*</label>
						    <div class="col-sm-2 pt5">
						      	<select id="examineStatus">
				            		<option id="examinePass">通过</option>
				            		<option value="2">拒绝</option>
				            	</select>
						    </div>
						</div>
						<div class="form-group" id="examine_limit-block" style="display: none;">
						    <label class="col-sm-2 control-label">审批额度</label>
						    <div class="col-sm-2 pt5">
						      	<input type="number" id="examine_limit">
						    </div>
					  	</div>
						<div class="form-group" id="reject_reason" style="display: none;">
							<label class="col-sm-2 control-label">拒绝原因</label>
			            	<div class="col-sm-9 pt5">
								<label class="col-sm-2">
									<input type="checkbox" name="reject_reason" value="1">超过时效
								</label>
								<label class="col-sm-2">
									<input type="checkbox" name="reject_reason" value="2">评级偏低客户
								</label>
								<label class="col-sm-2">
									<input type="checkbox" name="reject_reason" value="3">不良信息客户
								</label>
								<label class="col-sm-2">
									<input type="checkbox" name="reject_reason" value="4">欺诈客户
								</label>
								<label class="col-sm-2">
									<input type="checkbox" name="reject_reason" value="5">黑名单客户
								</label>
								<label class="col-sm-2">
									<input type="checkbox" name="reject_reason" value="6">资料缺失
								</label>
								<label class="col-sm-2">
									<input type="checkbox" name="reject_reason" value="7">未满足基础准入
								</label>
								<label class="col-sm-2">
									<input type="checkbox" name="reject_reason" value="8">其他原因
								</label>
							</div>
						</div>
						<div class="form-group">
				            <label class="col-sm-2 control-label">审核备注</label>
						    <div class="col-sm-6 pt5">
						      	<textarea id="descr"></textarea>
						    </div>
						</div>
					</div>
					<div class="form-group" id="applicationExamine">
						<div class="text-center">
							<a class="btn btn-danger" id="orderRevokeBtn">撤销</a>
							<a class="btn btn-primary" id="orderExamineBtn">提交</a>
							<button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="/public/business/lib/metronic/js/select2.min.js" ></script>
<script type="text/javascript" src="/public/business/lib/metronic/js/chosen.jquery.min.js"></script>
<script type="text/javascript" src="/public/business/js/selectArea.js"></script>
<script type="text/javascript" src="__JS__/manager.js"></script>
<script>
	$(".customer-info").each(function(){
		var name = $(this).attr('name');
		var category = $(this).parents('.tab-pane').attr('name');
	    if(typeof(info[category][name]) != 'object'){
	        $(this).text(info[category][name]);
	        if(name == "create_time"){
	        	$(this).text(formatDate(info[category][name]));
	        }else if(name == "type"){
	        	$(this).text(g_orderType[info[category][name]]);
	        }else if(name == "status"){
	        	$(this).text(g_orderStatus[info[category][name]]);
	        }
	    }
	});
	$('span[name="bankcard"]').text(info['member_info']['bankcard']);
	$('span[name="score"]').text(info['member_info']['score']);

	function historyTpl(data){
		var html = '';
		var operate = {'view':'审核','loan':'放款审核','recharge':'充值','withdraw':'提现','receivable':'回款'};
		if(typeof(data) =='object'){
		for(var index = 0; index < data.length; index++){

			var i = index + 1;
		  	html +='<tr>'
		  		+'<td>'+ i+'</td>'
		  		+'<td>'+ g_orderStatus[data[index].status] +'</td>'
		  		+'<td>'+ data[index].operator +'</td>'
		  		+'<td>'+ operate[data[index].action] +'</td>'
		  		+'<td>'+ formatDatetime(data[index].create_time) +'</td>'
		  		 +'</tr>';
			}
		}
		return html;
	}
	$('#examine-history tbody').html(historyTpl(info.examine_log));

	function picTpl(data){
		var html = '';
		if(typeof(data) =='object'){
		for(var index = 0; index < data.length; index++){
		  	html +='<div class="pic-block col-sm-3">'
		  		+'<img src="' + data[index].path + '">'
		  		+'</div>'
			}
		}
		return html;
	}
	$('#tab_1_6 .pic-container').html(picTpl(info.files));

	$('#examine_limit').val(info['order_info']['loan_limit']);
	$('#examineStatus').change(function(){
		if($(this).val() == '2'){
			$('#reject_reason').slideDown('fast');
		}else{
			$('#reject_reason').slideUp('fast');
		}
	});
	if(info['order_info']['status'] == '4'){
		$('#examine_limit-block').show();
	}

	$('input[name="credit_score"]').text(info['order_info']['credit_score']);
	$('input[name="credit_level"]').text(info['order_info']['credit_level']);


</script>
<script>
$(function(){
	var id = getUrlParam('id');
	var city_addr = initCity(info['channel_info']['city']);
	$('span[name="city_addr"]').text(city_addr);

	$('#orderRevokeBtn').click(function(){
		confirm('确认撤回订单');
		ajax_jquery({
	        url: apiUrl +'/admin/examine/delete',
	        data:{
	        	'id': id,
	        },
	        success:function(resp){
	            if (resp.code == "1" ) {
	            	ui_alert("撤销成功","success");
	            	window.location.href = apiUrl + "/admin/examine/application.html";
	            } else {
	                if (typeof(resp.msg) == 'string') {
	                    ui_alert(resp.msg);
	                    return false;
	                }
	            }
	        }
		});
	})

	$('#orderExamineBtn').click(function(){
		var ajaxUrl = '/admin/examine/dataReview';
		if(info['order_info']['status'] == '3'){
			$('#examinePass').val('4');
		}else if(info['order_info']['status'] == '4'){
			$('#examinePass').val('1');
			ajaxUrl = '/admin/examine/loanLimit';
		}
		var id = info['order_info']['id'];
		var status = $('#examineStatus').val();
		var examine_limit = $('#examine_limit').val();
		var reject_reason = encodeCheckbox('reject_reason');
		var descr = $('#descr').val();
		ajax_jquery({
	        url: apiUrl + ajaxUrl,
	        data:{
	        	'id': id,
	        	'status': status,
	        	'examine_limit': examine_limit,
	        	'reject_reason': reject_reason,
	        	'descr': descr
	        },
	        success:function(resp){
	            if (resp.code == "1" ) {
	            	ui_alert("审核通过","success");
	            	window.location.href = apiUrl + "/admin/examine/loanLimit";
	            } else {
	                if (typeof(resp.msg) == 'string') {
	                    ui_alert(resp.msg);
	                    return false;
	                }
	            }
	        }
		});
	})
})
</script>
{/block}