{extend name="base"/}
{block name="style"}
<style type="text/css">
#checking{
    margin-top: -80px;
    font-size: 20px;
    margin-bottom: 10px;
}

</style>

{/block}

{block name="body"}
<div class="row-fluid">
  <div class="span12 text-center">
      <img src="/public/business/img/waitingPage.gif">
      <p id="checking"></p>
      <p>欢迎登录</p>
     <!--  <a class="btn" onclick="logout()">退出</a> -->
  </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
$(function(){
  if(info.username){
      localStorage.setItem('username',info.username);
      $('#nav-username').text(info.username);
    }
})
</script>

{/block}