{extend name="public/base"/}
{block name="style"}
<link rel="stylesheet" type="text/css" href="__CSS__/metronic.css"/>
<link rel="stylesheet" type="text/css" href="__CSS__/DT_bootstrap.css"/>
<script>
	var info = {};
	try {
		info = JSON.parse('{$infoStr}');
	} catch (e) {
		alert("数据异常");
	}
</script>
{/block}
{block name="body"}
<div class="main-box clearfix">
	<header class="main-box-header clearfix">
		<div class="pull-left">
			<h2>{$meta_title}</h2>
		</div>
	</header>
	<div class="main-box-body clearfix">
		<div class="clearfix">
			<table class="table table-hover" id="table-postloan-Repayment">
				<thead>
					<tr>
						<th>订单编号</th>
						<th>流水号</th>
						<th>渠道名称</th>
						<th>回款期数</th>
						<th>回款金额</th>
						<th>到账金额</th>
						<th>还款时间</th>
						<!-- <th>手续费承担方</th> -->
						<!-- <th>类型</th> -->
						<th>状态</th>
						<th>备注</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="/public/business/lib/metronic/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/public/business/lib/metronic/js/DT_bootstrap.js"></script>
<script type="text/javascript" src="__JS__/table-managed.js"></script>
<script type="text/javascript" src="__JS__/manager.js"></script>
<script type="text/javascript">
	function tpl(data){
		var html = '';
		if(typeof(data) =='object'){
		for(var index = 0; index < data.length; index++){
		  	html += '<tr class="odd gradex">'
		  		+'<td>' + data[index].sn + '</td>'
		  		+'<td>' + data[index].serial_num + '</td>'
		  		+'<td>'+ data[index].dealer_name +'</td>'
		  		+'<td>'+ data[index].repay_period +'</td>'
		  		+'<td>￥'+ data[index].repay_money +'</td>'
		  		+'<td>￥'+ data[index].true_repay_money +'</td>'
		  		// +'<td>￥'+ data[index].manage_money +'</td>'
		  		+'<td>'+ formatDate(data[index].repay_time) +'</td>'
		  		+'<td>'+ g_repayStatus[data[index].status] +'</td>'
		  		+'<td>'+ data[index].descr +'</td>'
		  		+'<td><a class="opera" data-toggle="modal" data="'+ data[index].id+'">审核</a></td>'
		  		 +'</tr>'
			}
		}
		return html;
	};
	$('#table-postloan-Repayment tbody').html(tpl(info));

    $(function(){
    	var id = '';
    	TableManaged.init();
    });
</script>

{/block}