{extend name="public/base"/}
{block name="style"}
<link rel="stylesheet" type="text/css" href="__CSS__/metronic.css"/>
<link rel="stylesheet" type="text/css" href="__CSS__/lightGallery.css"/>
<link rel="stylesheet" type="text/css" href="/public/business/css/selectArea.css">
<link rel="stylesheet" type="text/css" href="/public/business/lib/metronic/css/select2_metro.css">
<style type="text/css">
.select2_bank,
.select2_province,
.select2_city{
	width: 150px;
}
.select2-search-choice-close {
    margin-top: 0px !important;
    right: 20px !important;
    min-height: 10px;
}
.select2-search-choice-close:before {
    color: black !important;
}
</style>
<script type="text/javascript">
	var info = {};
	try {
		info = JSON.parse('{$infoStr}');
	} catch (e) {
		alert("数据异常");
	}
</script>
{/block}
{block name="body"}
<div class="main-box clearfix">
	<header class="main-box-header clearfix">
		<div class="pull-left">
			<h2>{$meta_title}</h2>
		</div>
	</header>
	<div class="main-box-body clearfix">
		<div class="form-horizontal col-sm-10">
      		<div class="form-group">
		    	<label class="col-sm-2 control-label">客户编号</label>
			    <div class="col-sm-4 pt5">
			      	<input type="text" id="uid" class="item-info" disabled="disabled">
			    </div>
			    <label class="col-sm-2 control-label">用户类型</label>
			    <div class="col-sm-4 pt5">
			      	<input type="text" id="type" class="item-info" disabled="disabled">
			    </div>
		  	</div>
		  	<div class="form-group">
		    	<label class="col-sm-2 control-label">真实姓名</label>
			    <div class="col-sm-4 pt5">
			      	<input type="text" id="bank_account_name" class="item-info">
			    </div>
			    <label class="col-sm-2 control-label">手机号</label>
			    <div class="col-sm-4 pt5">
			      	<input type="number" id="mobile" class="item-info">
			    </div>
		  	</div>
		  	<div class="form-group">
		    	<label class="col-sm-2 control-label">身份证号</label>
			    <div class="col-sm-4 pt5">
			      	<input type="text" id="idcard" class="item-info">
			    </div>
			    <label class="col-sm-2 control-label">银行卡号</label>
			    <div class="col-sm-4 pt5">
			      	<input type="text" id="bank_account_id" class="item-info">
			    </div>
		  	</div>
		  	<div class="form-group">
		    	<label class="col-sm-2 control-label">开户省份</label>
			    <div class="col-sm-4 pt5">
			      	<select class="select2_province" data-placeholder="省份">
					</select>
			    </div>
			    <label class="col-sm-2 control-label">开户城市</label>
			    <div class="col-sm-4 pt5">
			      	<select class="select2_city" data-placeholder="城市">
						<option value=""></option>
					</select>
			    </div>
		  	</div>
		  	<div class="form-group">
		  		<label class="col-sm-2 control-label">开户银行</label>
			    <div class="col-sm-4">
			      	<select class="select2_bank" data-placeholder="请选择开户银行">
					</select>
			    </div>
		    	<label class="col-sm-2 control-label">乾多多标识</label>
			    <div class="col-sm-4 pt5">
			      	<input type="number" id="qdd_mark" class="item-info" disabled="disabled">
			    </div>
		  	</div>
		  	<div class="form-group">
			    <div class="text-center col-sm-4">
					<a class="btn btn-primary" id="bindCardBtn">提交</a>
				</div>
			</div>
			<ul class="pic-container" id="documentInfo">
			</ul>
		</div>
	</div>
{/block}
{block name="script"}
<script type="text/javascript" src="/public/business/lib/metronic/js/select2.min.js" ></script>
<script type="text/javascript" src="/public/business/lib/metronic/js/chosen.jquery.min.js"></script>
<script type="text/javascript" src="/public/business/js/selectArea.js"></script>
<script type="text/javascript" src="__JS__/manager.js"></script>
<script type="text/javascript" src="__JS__/lightGallery.js"></script>
<script type="text/javascript" src="/public/business/js/validate.js?v=1"></script>
<script type="text/javascript" src="/public/guarantee/js/selectBankInfo.js"></script>
<script>
	var g_signStatus = {'-1':'C端客户','-2':'担保机构','-3':'担保车商','-4':'资金方',};
	$(".item-info").each(function(){
		var name = $(this).attr('id');
	    if(typeof(info[name]) != 'object'){
	        $(this).val(info[name]);
			if(name == "type"){
	        	$(this).val(g_orderType[info[name]]);
	        	// $(this).val('按揭贷款');
	        }else if(name == "signstatus"){
	        	$(this).val(g_signStatus[info[name]]);
	        }else if(name == "first_repaydate"){
	        	$(this).val(formatDate([info[name]]));
	        }
	    }
	});
	$('.select2_bank').val(info['bank']).trigger('change');
	$('.select2_province').val(info['province']).trigger('change');
	$('.select2_city').val(info['city']).trigger('change');

</script>
<script>
$(function(){
	var id = getUrlParam('id');
	$('#bindCardBtn').click(function(){
        var RealName = $('#bank_account_name').val();
        var Mobile = $('#mobile').val();
        var IdentificationNo = $('#idcard').val();
        var CardNumber = $('#bank_account_id').val();
        var Province = $('.select2_province').select2("val");
        var City = $('.select2_city').select2("val");
        var BankCode = $('.select2_bank').select2("val");
        if(RealName == ""){
            ui_alert("请输入开户人姓名");
            return false;
        }else if(Mobile == ""){
            ui_alert("请输入手机号");
            return false;
        }else if(!validatePhoneNumber(Mobile)){
            ui_alert("请输入正确手机号");
            return false;
        }else if(IdentificationNo == ""){
            ui_alert("请输入开户人身份证号");
            return false;
        }else if(!validateIdCard(IdentificationNo)){
            ui_alert("身份证号输入有误");
            return false;
        }else if(CardNumber == ""){
            ui_alert("请输入银行卡账号");
            return false;
        }else if(!validateBankNum(CardNumber)){
            ui_alert("银行卡账号有误");
            return false;
        }else if(BankCode == ""){
            ui_alert("请选择开户银行");
            return false;
        }else if(Province == ""){
            ui_alert("请选择省份");
            return false;
        }else if(City == ""){
            ui_alert("请选择城市");
            return false;
        }
        ajax_jquery({
            url: apiUrl +'/admin/postloan/signview',
            data:{
                "RealName": RealName,
                "Mobile": Mobile,
                "IdentificationNo": IdentificationNo,
                "CardNumber": CardNumber,
                "Province": Province,
                "City": City,
                "BankCode": BankCode
            },
            success:function(resp){
                if (resp.code == "1" ) {
                        ui_alert("银行卡绑定成功","success");
                        window.location.href = "/admin/postloan/sign";
                } else {
                    if (typeof(resp.msg) == 'string' && resp.msg != '') {
                        ui_alert(resp.msg);
                    } else {
                        ui_alert("绑定失败，请重试或联系客服!");
                    }
                    return false;
                }
            }
        });
    });
})
</script>
{/block}