{extend name="public/base"/}
{block name="style"}
<link rel="stylesheet" type="text/css" href="__CSS__/metronic.css"/>
<link rel="stylesheet" type="text/css" href="__CSS__/lightGallery.css"/>
<link rel="stylesheet" type="text/css" href="/public/business/css/selectArea.css">
<link rel="stylesheet" type="text/css" href="/public/business/lib/metronic/css/select2_metro.css">
<style type="text/css">
.pic-container {
 	padding: 0;
}
.pic-container li div {
  	line-height: 240px;
  	margin: 10px 0;
  	overflow: hidden;
  	min-width: 100px;
  	border: 5px solid #dedede;
  	border-radius: 5px;
}
.pic-container li img {
  	width: 100%;
  	border-radius: 3px;
}
</style>
<script type="text/javascript">
	var info = {};
	try {
		info = JSON.parse('{$infoStr}');
	} catch (e) {
		alert("数据异常");
	}
</script>
{/block}
{block name="body"}
<div class="main-box clearfix">
	<header class="main-box-header clearfix">
		<div class="pull-left">
			<h2>{$meta_title}</h2>
		</div>
	</header>
	<div class="main-box-body clearfix">
		<div class="form-horizontal col-sm-10">
      		<div class="form-group">
		    	<label class="col-sm-2 control-label">客户编号</label>
			    <div class="col-sm-4 pt5">
			      	<input type="text" id="uid" class="item-info" disabled="disabled">
			    </div>
			    <label class="col-sm-2 control-label">订单名称</label>
			    <div class="col-sm-4 pt5">
			      	<input type="text" id="type" class="item-info" disabled="disabled">
			    </div>
		  	</div>
		  	<div class="form-group">
		    	<label class="col-sm-2 control-label">真实姓名</label>
			    <div class="col-sm-4 pt5">
			      	<input type="text" id="realname" class="item-info" disabled="disabled">
			    </div>
			    <label class="col-sm-2 control-label">手机号</label>
			    <div class="col-sm-4 pt5">
			      	<input type="number" id="mobile" class="item-info" disabled="disabled">
			    </div>
		  	</div>
		  	<div class="form-group">
		    	<label class="col-sm-2 control-label">身份证号</label>
			    <div class="col-sm-4 pt5">
			      	<input type="text" id="idcard_num" class="item-info" disabled="disabled">
			    </div>
			    <label class="col-sm-2 control-label">银行卡号</label>
			    <div class="col-sm-4 pt5">
			      	<input type="text" id="bankcard" class="item-info" disabled="disabled">
			    </div>
		  	</div>
		  	<div class="form-group">
		    	<label class="col-sm-2 control-label">借贷金额</label>
			    <div class="col-sm-4 pt5">
			      	<input type="number" id="loan_limit" class="item-info" disabled="disabled">
			    </div>
			    <label class="col-sm-2 control-label">期数</label>
			    <div class="col-sm-4 pt5">
			      	<input type="text" id="total_times" class="item-info" disabled="disabled">
			    </div>
		  	</div>
		  	<div class="form-group">
		    	<label class="col-sm-2 control-label">月供</label>
			    <div class="col-sm-4 pt5">
			      	<input type="number" id="repay_money" class="item-info" disabled="disabled">
			    </div>
			    <label class="col-sm-2 control-label">首次还款时间</label>
			    <div class="col-sm-4 pt5">
			      	<input type="text" id="first_repaydate" class="item-info" disabled="disabled">
			    </div>
		  	</div>
		  	<div class="form-group">
		  		<label class="col-sm-2 control-label">贷款合同号</label>
			    <div class="col-sm-4 pt5">
			      	<input type="text" id="papercontract" class="item-info" disabled="disabled">
			    </div>
			    <label class="col-sm-2 control-label">签约状态</label>
			   	<div class="col-sm-4 pt5">
			      	<input type="text" id="signstatus" class="item-info" disabled="disabled">
			    </div>
		  	</div>
		  	<div class="form-group">
		    	<label class="col-sm-2 control-label">用户职业</label>
			    <div class="col-sm-4 pt5">
			      	<input type="text" id="profession" class="item-info">
			    </div>
			    <label class="col-sm-2 control-label">用户联系地址</label>
			    <div class="col-sm-4 pt5">
			      	<input type="text" id="address" class="item-info">
			    </div>
		  	</div>
			<div class="form-group">
		    	<label class="col-sm-2 control-label">身份证到期时间</label>
			    <div class="col-sm-4 pt5">
			      	<input type="text" id="idcard_time" class="idcard_time">
			    </div>
		  	</div>
		  	<div class="form-group">
		    	<label class="col-sm-2 control-label">身份证正面照ID</label>
			    <div class="col-sm-4 pt5">
			      	<input type="number" id="idcard_face_pic" class="item-info">
			    </div>
			    <label class="col-sm-2 control-label">身份证反面照ID</label>
			    <div class="col-sm-4 pt5">
			      	<input type="text" id="idcard_back_pic" class="item-info">
			    </div>
		  	</div>
		  	<div class="form-group">
		    	<label class="col-sm-2 control-label">银行卡照片ID</label>
			    <div class="col-sm-4 pt5">
			      	<input type="number" id="bankimage" class="item-info">
			    </div>
			    <label class="col-sm-2 control-label">合同照片ID</label>
			    <div class="col-sm-4 pt5">
			      	<input type="text" id="image_contract" class="item-info">
			    </div>
		  	</div>
		  	<ul class="pic-container" id="documentInfo">
			</ul>
		  	<div class="form-group">
			    <div class="text-center col-sm-4">
					<a class="btn btn-primary" id="withholdExamineBtn">提交</a>
				</div>
			</div>
		</div>
	</div>
{/block}
{block name="script"}
<script type="text/javascript" src="/public/business/lib/metronic/js/select2.min.js" ></script>
<script type="text/javascript" src="/public/business/lib/metronic/js/chosen.jquery.min.js"></script>
<script type="text/javascript" src="/public/business/js/selectArea.js"></script>
<script type="text/javascript" src="__JS__/manager.js"></script>
<script type="text/javascript" src="__JS__/lightGallery.js"></script>
<script>
	var g_signStatus = {'-1':'签约失败','0':'待签约','1':'签约成功','2':'签约中','3':'银行卡异步签约失败'};
	$(".customer-info").each(function(){
		var name = $(this).attr('id');
	    if(typeof(info[name]) != 'object'){
	        $(this).text(info[name]);
			if(name == "type"){
	        	$(this).text(g_orderType[info[name]]);
	        }else if(name == "signstatus"){
	        	$(this).text(g_signStatus[info[name]]);
	        }
	    }
	});
	var keyList = [
            {
                form_key:"orderSupplement_pic_1",
                form_label:"身份证正面照"
            },
            {
                form_key:"orderSupplement_pic_2",
                form_label:"身份证反面照"
            },
            {
                form_key:"orderSupplement_pic_3",
                form_label:"人车合照"
            },
            {
                form_key:"orderSupplement_pic_4",
                form_label:"合格证"
            },
            {
                form_key:"orderSupplement_pic_5",
                form_label:"保单证书"
            },
            {
                form_key:"orderSupplement_pic_6",
                form_label:"购车发票"
            },
            {
                form_key:"orderSupplement_pic_7",
                form_label:"首付凭证"
            },
            {
                form_key:"orderSupplement_pic_8",
                form_label:"合同"
            },
            {
                form_key:"orderSupplement_pic_9",
                form_label:"代扣银行卡"
            }];
	function picTpl(data){
		var html = '';
		if(typeof(data) =='object'){
			$.each(keyList,function(){
				var form_key = this.form_key;
				for(var index = 0; index < data.length; index++){
					if(form_key == data[index].form_key){
						html +=  '<li data-src="' + data[index].path + '" class="col-xs-3 col-md-2">'
			                      	+'<div>'
			                        	+ '<a href="#"><img src="' + data[index].path + '"></a>'
			                      	+'</div>'
			                      	+'<p class="text-center">'+ data[index].id+'</p>'
			                    +'</li>';
					  	break;
					}
				}
				return true;
			});
		}
		return html;
	}

	$('.pic-container').html(picTpl(info.files));
	$("#documentInfo").lightGallery();

</script>
<script>
$(function(){
	var id = getUrlParam('id');
	$('#withholdExamineBtn').click(function(){
		var idcard_time = $('#idcard_time').val();
		var profession = $('#profession').val();
		var address = $('#address').val();
		var idcard_face_pic = $('#idcard_face_pic').val();
		var idcard_back_pic = $('#idcard_back_pic').val();
		var bankimage = $('#bankimage').val();
		var image_contract = $('#image_contract').val();
		if(idcard_time =='' ){
			ui_alert("请输入身份证到期时间");
			return;
		}else if(profession =='' ){
			ui_alert("请输入用户职业");
			return;
		}else if(address =='' ){
			ui_alert("请输入用户联系地址");
			return;
		}else if(idcard_face_pic =='' ){
			ui_alert("请输入身份证正面照ID");
			return;
		}else if(idcard_back_pic =='' ){
			ui_alert("请输入身份证反面照ID");
			return;
		}else if(bankimage =='' ){
			ui_alert("请输入银行卡照ID");
			return;
		}else if(image_contract =='' ){
			ui_alert("请输入合同照ID");
			return;
		}
		ajax_jquery({
	        url: apiUrl + ajaxUrl,
	        data:{
	        	'id': id,
	        	'idcard_time': idcard_time,
	        	'profession': profession,
	        	'address': address,
	        	'idcard_face_pic': idcard_face_pic,
	        	'idcard_back_pic': idcard_back_pic,
	        	'bankimage': bankimage,
	        	'image_contract': image_contract
	        },
	        success:function(resp){
	            if (resp.code == "1" ) {
	            	ui_alert("提交成功","success");
	            	window.location.href = apiUrl + "/admin/post/withhold";
	            } else {
	                if (typeof(resp.msg) == 'string') {
	                    ui_alert(resp.msg);
	                    return false;
	                }
	            }
	        }
		});
	})
})
</script>
{/block}