{extend name="base"/}
{block name="style"}
<link rel="stylesheet" href="/public/business/lib/metronic/css/select2_metro.css">
<link rel="stylesheet" href="/public/business/lib/metronic/css/glyphicons.css">
<link rel="stylesheet" href="/public/business/css/account.css">
<style type="text/css" media="screen">
	.select2_bank {
		width: 220px;
	}
	.select2_province,
	.select2_city{
		width: 108px;
	}
	.select2-drop {
        z-index: 10050 !important;
    }
    .select2-search-choice-close {
        margin-top: 3px !important;
        right: 20px !important;
        min-height: 10px;
    }

    .select2-search-choice-close:before {
        color: black !important;
    }
</style>
<script>
	var info = {};
	try {
		info = JSON.parse('{$infoStr}');
	} catch (e) {
		alert("数据异常");
	}

</script>
{/block}
{block name="body"}
<!--账号设置-->
<div class="account-index">
	<div class="row-fluid">
		<div class="protrait span1"><img src="/public/business/lib/metronic/image/avatar.png"></div>
		<div class="span3">
			<h3 id="dealer_name"></h3>
		</div>
	</div>
	<div class="row-fluid account-item">
		<div class="protrait span1"><a href="#" class="glyphicons user"><i></i></a></div>
		<div class="span3">
			<h4>法人认证</h4>
			<p class="sub-title">实名操作，保证信息真实性</p>
		</div>
		<div class="index-info span5" id="item-idno">
			<a href="#" class="glyphicons circle_ok"><i class="colgreen"></i></a>
			<span id="dealer_idno"></span>
		</div>
	</div>
	<div class="row-fluid account-item">
		<div class="protrait span1"><a href="#" class="glyphicons building"><i></i></a></div>
		<div class="span3">
			<h4>企业认证</h4>
			<p class="sub-title">企业认证</p>
		</div>
		<div class="index-info span5" id="item-creditCode">
			<a href="#" class="glyphicons circle_ok"><i class="colgreen"></i></a>
			<span></span>
		</div>
	</div>
	<div class="row-fluid account-item">
		<div class="protrait span1"><a href="#" class="glyphicons credit_card"><i></i></a></div>
		<div class="span3">
			<h4>绑定银行卡</h4>
			<p class="sub-title">线上支付转账、方便快捷</p>
		</div>
		<div class="index-info span5" id="item-bankcard">
			<a href="#" class="glyphicons"><i class=""></i></a>
			<span></span>
		</div>
		<div class="span2 account-item-btn"><a data-toggle="modal" href="#bankcardModal" class="btn">设置</a></div>
	</div>
	<div class="row-fluid account-item">
		<div class="protrait span1"><a href="#" class="glyphicons lock"><i></i></a></div>
		<div class="span3">
			<h4>交易密码</h4>
			<p class="sub-title">账户资金变动密码</p>
		</div>
		<div class="index-info span5" id="item-payPwd">
			<a href="#" class="glyphicons"><i class=""></i></a>
			<span></span>
		</div>
		<div class="span2 account-item-btn"><a data-toggle="modal" href="#payPasswordModal" class="btn">设置</a></div>
	</div>
	<div class="row-fluid account-item">
		<div class="protrait span1"><a href="#" class="glyphicons iphone_shake"><i></i></a></div>
		<div class="span3">
			<h4>绑定手机</h4>
			<p class="sub-title">账户动态实时通知</p>
		</div>
		<div class="index-info span5" id="item-mobile">
			<a href="#" class="glyphicons circle_ok"><i class="colgreen"></i></a>
			<span id="dealer_mobile"></span>
		</div>
		<div class="span2 account-item-btn"><a data-toggle="modal" href="#editMobileModal" class="btn">修改</a></div>
	</div>
	<div class="row-fluid account-item">
		<div class="protrait span1"><a href="#" class="glyphicons envelope"><i></i></a></div>
		<div class="span3">
			<h4>绑定邮箱</h4>
			<p class="sub-title">接收最新消息</p>
		</div>
		<div class="index-info span5" id="item-mail">
			<a href="#" class="glyphicons"><i class=""></i></a>
			<span></span>
		</div>
		<div class="span2 account-item-btn"><a data-toggle="modal" href="#editMailModal" class="btn">设置</a></div>
	</div>
</div>

<!-- 银行卡绑定弹窗 -->
<div id="bankcardModal" class="modal hide fade">
	<div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
	    <h3>绑定银行卡</h3>
	</div>
	<div class="modal-body">
	    <div class="alert hide">
	      	<a class="close"></a>
	      	<span></span>
	    </div>
	    <div class="form-horizontal">
	    	<div class="control-group">
		        <label class="control-label">银行卡号</label>
		        <div class="controls">
		          	<input type="number" class="m-wrap" id="bankcard-account" disabled="disabled">
		        </div>
		    </div>
	      	<div class="control-group">
		        <label class="control-label">开户银行</label>
		        <div class="controls">
		          	<select class="select2_bank" data-placeholder="请选择开户银行">
					</select>
		        </div>
		    </div>
		    <div class="control-group">
		        <label class="control-label">开户地址</label>
		        <div class="controls">
		          	<select class="select2_province" data-placeholder="请选择省份">
					</select>
					<select class="select2_city" data-placeholder="请选择城市">
						<option value=""></option>
					</select>
		        </div>
		    </div>
	      	<div class="control-group">
	        	<label class="control-label">开户人姓名</label>
	        	<div class="controls">
	          		<input type="text" class="m-wrap" id="bankcard-name">
	        	</div>
	      	</div>
	      	<div class="control-group">
	        	<label class="control-label">开户人手机号</label>
	        	<div class="controls">
	          		<input type="number" class="m-wrap" id="bankcard-mobile">
	        	</div>
	      	</div>
	      	<div class="control-group">
	        	<label class="control-label">开户人身份证号</label>
	        	<div class="controls">
	          		<input type="text" class="m-wrap" id="bankcard-idcard">
	        	</div>
	      	</div>
	    </div>
	</div>
	<div class="modal-footer">
	    <button type="button" data-dismiss="modal" class="btn">关闭</button>
	    <a class="btn blue" id="bindCardBtn">确认修改</a>
	</div>
</div>
<!-- 交易密码弹窗 -->
<div id="payPasswordModal" class="modal hide fade">
	<div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
	    <h3>交易密码</h3>
	</div>
	<div class="modal-body">
	    <div class="alert hide">
	      	<a class="close"></a>
	      	<span></span>
	    </div>
	    <div class="form-horizontal payPwd">
	      	<div class="control-group">
		        <label class="control-label">注册手机</label>
		        <div class="controls">
		          	<input type="number" class="m-wrap originalMobile" id="payPwd-username" disabled="disabled">
		        </div>
		    </div>
		    <div class="control-group">
	        	<label class="control-label">手机验证码</label>
	        	<div class="controls rel">
					<input class="m-wrap" type="number" placeholder="请输入短信验证码" id="payPwd-smsVerify">
					<a class="getcode" data-form='payPwd' onclick="sendSms(this)" href="javascript:void(0);">发送验证码</a>
	        	</div>
	      	</div>
	      	<div class="control-group">
	        	<label class="control-label">新密码</label>
	        	<div class="controls">
	          		<input type="password" class="m-wrap" id="newPayPwd" maxlength="6">
	        	</div>
	      	</div>
	      	<div class="control-group">
	        	<label class="control-label">确认密码</label>
	        	<div class="controls">
	          		<input type="password" class="m-wrap" id="confirmPayPwd" maxlength="6">
	        	</div>
	      	</div>
	    </div>
	</div>
	<div class="modal-footer">
	    <button type="button" data-dismiss="modal" class="btn">关闭</button>
	    <a class="btn blue" id="payPasswordBtn">确认修改</a>
	</div>
</div>

<!-- 绑定手机号弹窗 -->
<div id="editMobileModal" class="modal hide fade">
	<div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
	    <h3>修改注册手机号</h3>
	</div>
	<div class="modal-body">
	    <div class="alert hide">
	      	<a class="close"></a>
	      	<span></span>
	    </div>
	    <div class="form-horizontal editMobile">
	      	<div class="control-group">
		        <label class="control-label">注册手机</label>
		        <div class="controls">
		          	<input type="number" class="m-wrap originalMobile" id="editMobile-username" disabled="disabled">
		        </div>
		    </div>
		    <div class="control-group">
	        	<label class="control-label">手机验证码</label>
	        	<div class="controls rel">
					<input class="m-wrap" type="number" placeholder="请输入短信验证码" id="editMobile-smsVerify">
					<a class="getcode" data-form='editMobile' onclick="sendSms(this)" href="javascript:void(0);">发送验证码</a>
	        	</div>
	      	</div>
	      	<div class="control-group">
	        	<label class="control-label">新手机</label>
	        	<div class="controls">
	          		<input type="number" class="m-wrap" id="newMobile">
	        	</div>
	      	</div>
	    </div>
	</div>
	<div class="modal-footer">
	    <button type="button" data-dismiss="modal" class="btn">关闭</button>
	    <button type="button" class="btn blue" id="editMobileBtn">确认修改</button>
	</div>
</div>

<!-- 修改邮箱弹窗 -->
<div id="editMailModal" class="modal hide fade">
	<div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
	    <h3>修改邮箱</h3>
	</div>
	<div class="modal-body">
	    <div class="alert hide">
	      	<a class="close"></a>
	      	<span></span>
	    </div>
	    <div class="form-horizontal editMail">
	      	<div class="control-group">
		        <label class="control-label">新邮箱</label>
		        <div class="controls">
		          	<input type="text" id="newMail" class="m-wrap">
		        </div>
		    </div>
	    </div>
	</div>
	<div class="modal-footer">
	    <button type="button" data-dismiss="modal" class="btn">关闭</button>
	    <button type="button" class="btn blue" id="editMailBtn">确认修改</button>
	</div>
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="/public/business/js/validate.js"></script>
<script type="text/javascript" src="/public/business/lib/metronic/js/select2.min.js" ></script>
<script type="text/javascript" src="/public/guarantee/js/selectBankInfo.js" ></script>
<script type="text/javascript">
 $.fn.modal.Constructor.prototype.enforceFocus = function () {};
 </script>
<script>
	function hasData(id,spanText){
		$('#'+id).find('.glyphicons').addClass('circle_ok')
						.children('i').addClass('colgreen').end()
						.next('span').text(spanText);
	}

	function hasNoData(id,spanText){
		$('#'+id).find('.glyphicons').addClass('circle_exclamation_mark')
						.children('i').addClass('colyellow').end()
						.next('span').text(spanText);
	}

	$('#bankcardModal').on('hide.bs.modal', function () {
	 	$('.select2-drop').hide();
	})

	jQuery(document).ready(function () {
		var mobile = encryptMobile(info['mobile']);
		$('#dealer_name').text(info['name']);
		$('#dealer_mobile').text(mobile);
		$('.originalMobile').val(info['mobile']);

		//银行卡绑定弹窗
		$('#bankcard-name').val(info.rep);
	 	$('#bankcard-mobile').val(info.mobile);
	 	$('#bankcard-idcard').val(info.idno);
	 	$('#bankcard-account').val(info.priv_bank_account_id);


		if(typeof(info['idno']) == 'string'){
			hasData('item-idno',info['rep']+' '+encryptID(info['idno']));
		}else{
			hasNoData('item-idno','未设置');
		}

		if(typeof(info['credit_code']) == 'string'){
			hasData('item-creditCode',encryptID(info['credit_code']));
		}else{
			hasNoData('item-creditCode','未设置');
		}

		if(typeof(info['paypassword']) == 'string'){
			hasData('item-payPwd','已设置');
		}else{
			hasNoData('item-payPwd','未设置');
		}

		if(typeof(info['bindcard']) == 'string'){
			hasData('item-bankcard',encryptBankcard(info['bindcard']));
			$('#item-bankcard').next('.account-item-btn').hide();
		}else{
			hasNoData('item-bankcard','未设置');
		}

		if(typeof(info['email']) == 'string'){
			hasData('item-mail',encryptMail(info['email']));
		}else{
			hasNoData('item-mail','未绑定');
		}

		$('#bindCardBtn').click(function(){
			var RealName = $('#bankcard-name').val();
			var Mobile = $('#bankcard-mobile').val();
			var IdentificationNo = $('#bankcard-idcard').val();
			var CardNumber = $('#bankcard-account').val();
			var Province = $('.select2_province').select2("val");
			var City = $('.select2_city').select2("val");
			var BankCode = $('.select2_bank').select2("val");
			if(CardNumber == ""){
        		ui_alert("请输入银行卡账号");
        		return false;
        	}else if(!validateBankNum(CardNumber)){
				ui_alert("银行卡账号有误");
        		return false;
        	}else if(BankCode == ""){
				ui_alert("请选择开户银行");
        		return false;
        	}else if(Province == ""){
				ui_alert("请选择省份");
        		return false;
        	}else if(City == ""){
				ui_alert("请选择城市");
        		return false;
        	}else if(RealName == ""){
				ui_alert("请输入开户人姓名");
        		return false;
        	}else if(Mobile == ""){
				ui_alert("请输入手机号");
        		return false;
        	}else if(!validatePhoneNumber(Mobile)){
        		ui_alert("请输入正确手机号");
        		return false;
        	}else if(IdentificationNo == ""){
				ui_alert("请输入开户人省");
        		return false;
        	}else if(!validateIdCard(IdentificationNo)){
        		ui_alert("请输入正确手机号");
        		return false;
        	}
	        ajax_jquery({
	            url: apiUrl +'/guarantee/account/bindCard',
	            data:{
	            	"RealName": RealName,
	            	"Mobile": Mobile,
	            	"IdentificationNo": IdentificationNo,
	            	"CardNumber": CardNumber,
	            	"Province": Province,
	            	"City": City,
	            	"BankCode": BankCode
	            },
	            success:function(resp){
	                if (resp.code == "1" ) {
	                		ui_alert("银行卡绑定成功","success");
	                        window.location.href = "/guarantee/account/index";
	                } else {
	                    if (typeof(resp.msg) == 'string' && resp.msg != '') {
	                        ui_alert(resp.msg);
	                    } else {
	                        ui_alert("绑定失败，请重试或联系客服!");
	                    }
	                    return false;
	                }
	            }
	        });
		});

		$('#payPasswordBtn').click(function(){
			var smsVerify = $('#payPwd-smsVerify').val();
			var newPayPwd = $('#newPayPwd').val();
			var confirmPayPwd = $('#confirmPayPwd').val();
			if(smsVerify == ""){
        		ui_alert("请输入短信验证码");
        		return false;
        	}else if(newPayPwd == ""){
				ui_alert("请输入交易密码");
        		return false;
        	}else if(!validatePayPwd(newPayPwd)){
        		ui_alert("请输入6位数字交易密码");
        		return false;
        	}else if(confirmPayPwd == ""){
        		ui_alert("请确认交易密码");
        		return false;
    		}else if(confirmPayPwd != newPayPwd){
    			ui_alert("两次输入密码不一致");
        		return false;
    		}
	        ajax_jquery({
	            url: apiUrl +'/guarantee/account/index',
	            data:{
	            	"smsVerify": smsVerify,
	            	"newPayPwd": newPayPwd
	            },
	            success:function(resp){
	                if (resp.code == "1" ) {
	                		ui_alert("交易密码修改成功","success");
	                        window.location.href = "/guarantee/account/index";
	                } else {
	                    if (typeof(resp.msg) == 'string' && resp.msg != '') {
	                        ui_alert(resp.msg);
	                    } else {
	                        ui_alert("修改失败，请重试!");
	                    }
	                    return false;
	                }
	            }
	        });
		});

		$('#editMobileBtn').click(function(){
			var smsVerify = $('#editMobile-smsVerify').val();
			var newMobile = $('#newMobile').val();
			if(smsVerify == ""){
        		ui_alert("请输入短信验证码");
        		return false;
        	}else if(newMobile == ""){
				ui_alert("请输入新手机号");
        		return false;
        	}else if(!validatePhoneNumber(newMobile)){
        		ui_alert("请输入正确手机号");
        		return false;
        	}
	        ajax_jquery({
	            url: apiUrl +'/guarantee/account/index',
	            data:{
	            	"smsVerify": smsVerify,
	            	"newMobile": newMobile
	            },
	            success:function(resp){
	                if (resp.code == "1" ) {
	                		ui_alert("手机号修改成功","success");
	                        window.location.href = "/guarantee/account/index";
	                } else {
	                    if (typeof(resp.msg) == 'string' && resp.msg != '') {
	                        ui_alert(resp.msg);
	                    } else {
	                        ui_alert("修改失败，请重试!");
	                    }
	                    return false;
	                }
	            }
	        });
		});

		$('#editMailBtn').click(function(){
			var email = $('#newMail').val();
			if(email == ""){
        		ui_alert("请输入邮箱地址");
        		return false;
        	}else if(!checkEmail(email)){
				ui_alert("请输入正确邮箱地址");
        		return false;
        	}
	        ajax_jquery({
	            url: apiUrl +'/guarantee/account/index',
	            data:{
	            	"email": email
	            },
	            success:function(resp){
	                if (resp.code == "1" ) {
	                		ui_alert("邮箱修改成功","success");
	                        window.location.href = "/guarantee/account/index";
	                } else {
	                    if (typeof(resp.msg) == 'string' && resp.msg != '') {
	                        ui_alert(resp.msg);
	                    } else {
	                        ui_alert("修改失败，请重试!");
	                    }
	                    return false;
	                }
	            }
	        });
		});


	});
</script>
{/block}