{extend name="base"}
{block name="style"}
<link rel="stylesheet" href="/public/business/lib/metronic/css/glyphicons.css">
<link rel="stylesheet" href="/public/business/css/account.css">
<!-- <link rel="stylesheet" href="/public/business/css/message.css"> -->
{/block}
{block name="body"}
<div class="row-fluid message">
	<!-- <div class="span12">
		<img class="f-fl avatar" src="/public/business/lib/metronic/image/avatar1_small.jpg">
		<div class="f-fl">
			<p class="title"><span style="margin-right: 30px">标题</span><span><a href="#" class="glyphicons no-js circle_ok"><i class="f-colgreen"></i></a>已读</span></p>
			<p style="color: #999">内容XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
		</div>
		<div class="message-date">2017年3月12日</div>
	</div>
	<div class="span12">
		<img class="f-fl avatar" src="/public/business/lib/metronic/image/avatar1_small.jpg">
		<div class="f-fl">
			<p class="title"><span style="margin-right: 30px">标题</span><span><a href="#" class="glyphicons no-js circle_exclamation_mark"><i class="colyellow"></i></a>未读</span></p>
			<p style="color: #999">内容XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
		</div>
		<div class="message-date">2017年3月12日</div>
	</div> -->
	暂无消息！
</div>
{/block}