<!DOCTYPE html>
<!--[if IE 8]> <html lang="zh" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="zh" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="zh-CN"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<meta charset="utf-8" />
	<title>VP贷车商后台登录</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	<!-- BEGIN GLOBAL MANDATORY STYLES -->
	<link href="/public/business/lib/metronic/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
	<link href="/public/business/lib/metronic/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>
	<link href="/public/business/lib/metronic/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
	<link href="/public/business/lib/metronic/css/style-metro.css" rel="stylesheet" type="text/css"/>
	<link href="/public/business/lib/metronic/css/style.css" rel="stylesheet" type="text/css"/>
	<link href="/public/business/lib/metronic/css/style-responsive.css" rel="stylesheet" type="text/css"/>
	<link href="/public/business/lib/metronic/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>
	<link href="/public/business/lib/metronic/css/uniform.default.css" rel="stylesheet" type="text/css"/>
	<!-- END GLOBAL MANDATORY STYLES -->

	<!-- BEGIN PAGE LEVEL STYLES -->
	<link href="/public/business/lib/metronic/css/login.css" rel="stylesheet" type="text/css"/>
	<!-- END PAGE LEVEL STYLES -->
	<link rel="shortcut icon" href="/favicon.ico" />
	<style type="text/css">
		html{
			height: 100%;
			background: url('/public/business/img/bg_login.jpg') #a2c4b3;
			background-size: cover;
		}
		.login {
			background-color:rgba(68, 68, 68, 0);
		}
		.controls{
			position: relative;
		}
		.auth-Code{
			position: absolute;
			top:0;
			right:1px;
			height: 32px;
			line-height: 34px;
		}
		.auth-Code img{
			height: 100%;
		}
		.getcode{
			position: absolute;
			top:1px;
			right:0;
			padding:0 20px;
			display: block;
			line-height: 34px;
			height: 32px;
			font-size: 0.6rem;
		}
	</style>
</head>

<body class="login">
	<div class="logo">
		<img src="/public/business/lib/metronic/image/logo.png"/>
	</div>
	<div class="content">
		<!-- BEGIN LOGIN FORM -->
		<div class="form-vertical login-form">
			<h3 class="form-title">登录</h3>
			<div class="alert hide">
				<a class="close"></a>
				<span></span>
			</div>
			<div class="control-group">
				<label class="control-label visible-ie8 visible-ie9">账号</label>
				<div class="controls">
					<div class="input-icon left">
						<i class="icon-user"></i>
						<input class="m-wrap placeholder-no-fix" type="number" placeholder="请输入手机号" id="login-username"/>
					</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label visible-ie8 visible-ie9">密码</label>
				<div class="controls">
					<div class="input-icon left">
						<i class="icon-lock"></i>
						<input class="m-wrap placeholder-no-fix" type="password" placeholder="请输入您的密码" id="login-password">
					</div>
				</div>
			</div>
			<div class="control-group rvalicode-cont" style="display: none;">
				<label class="control-label visible-ie8 visible-ie9">图片验证码</label>
				<div class="controls">
					<div class="input-icon left">
						<i class="icon-ok"></i>
						<input class="m-wrap placeholder-no-fix" type="text" id="login-rvalicode"  maxlength="4" placeholder="输入图形验证码">
                        <a href="javascript:;" class="auth-Code">
							<img src="{:url('mobile/open/verify')}"  name="verify" height="100%"  onclick="doRefreshVerfiy(this)"/>
                        </a>
					</div>
				</div>
			</div>
			<div class="form-actions">
				<label class="checkbox">
				<input type="checkbox" name="remember" value="1"/>记住账号密码
				</label>
				<button id="loginBtn" class="btn green pull-right">
				登录 <i class="m-icon-swapright m-icon-white"></i>
				</button>
			</div>
			<div class="forget-password">
				<h4>忘记密码？</h4>
				<p>
					不用担心, 请点击<a href="javascript:;" class="" id="forget-password">这里</a>
					重置您的密码
				</p>
			</div>
			<div class="create-account">
				<p>
					还没有账号?&nbsp;
					<a href="javascript:;" id="register-btn" class="">注册账号</a>
				</p>
			</div>
		</div>
		<!-- </form> -->
		<!-- END LOGIN FORM -->

		<!-- BEGIN FORGOT PASSWORD FORM -->
		<div class="form-vertical forget-form">
			<h3 class="">忘记密码?</h3>
			<div class="alert hide">
				<a class="close"></a>
				<span></span>
			</div>
			<div class="control-group">
				<label class="control-label visible-ie8 visible-ie9">手机号</label>
				<div class="controls">
					<div class="input-icon left">
						<i class="icon-user"></i>
						<input class="m-wrap placeholder-no-fix" type="number" placeholder="请输入手机号" id="reset-username"/>
					</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label visible-ie8 visible-ie9">短信验证码</label>
				<div class="controls">
					<div class="input-icon left">
						<i class="icon-envelope"></i>
						<input class="m-wrap placeholder-no-fix" type="number" placeholder="请输入短信验证码" id="reset-smsVerify">
						<a class="getcode" data-form='reset' onclick="sendSmsVerify(this)" href="javascript:void(0);">发送验证码</a>
					</div>
				</div>
			</div>
			<div class="control-group rvalicode-cont" style="display: none;">
				<label class="control-label visible-ie8 visible-ie9">图片验证码</label>
				<div class="controls">
					<div class="input-icon left">
						<i class="icon-ok"></i>
						<input class="m-wrap placeholder-no-fix" type="text" id="reset-rvalicode" maxlength="4" placeholder="输入图形验证码">
                        <a href="javascript:;" class="auth-Code">
							<img src="{:url('mobile/open/verify')}" height="100%"  onclick="doRefreshVerfiy(this)"/> 
                        </a>
					</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label visible-ie8 visible-ie9">密码</label>
				<div class="controls">
					<div class="input-icon left">
						<i class="icon-lock"></i>
						<input class="m-wrap placeholder-no-fix" type="password" placeholder="请重置您的密码" id="reset-password">
					</div>
				</div>
			</div>
			<div class="form-actions">
				<button type="button" id="back-btn" class="btn">
				<i class="m-icon-swapleft"></i> 返回
				</button>
				<button class="btn green pull-right" id="resetBtn">
				提交 <i class="m-icon-swapright m-icon-white"></i>
				</button>
			</div>
		</div>
		<!-- END FORGOT PASSWORD FORM -->

		<!-- BEGIN REGISTRATION FORM -->
		<div class="form-vertical register-form">
			<h3 class="">注册</h3>
			<div class="alert hide">
				<a class="close"></a>
				<span></span>
			</div>
			<div class="control-group">
				<label class="control-label visible-ie8 visible-ie9">账号</label>
				<div class="controls">
					<div class="input-icon left">
						<i class="icon-user"></i>
						<input class="m-wrap placeholder-no-fix" id="register-username" type="number" placeholder="请输入您的手机号" />
					</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label visible-ie8 visible-ie9">密码</label>
				<div class="controls">
					<div class="input-icon left">
						<i class="icon-lock"></i>
						<input class="m-wrap placeholder-no-fix" type="password" id="register-password" placeholder="请输入您的密码">
					</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label visible-ie8 visible-ie9">短信验证码</label>
				<div class="controls">
					<div class="input-icon left">
						<i class="icon-envelope"></i>
						<input class="m-wrap placeholder-no-fix" type="number" placeholder="请输入短信验证码" id="register-smsVerify">
						<a class="getcode" data-form='register' onclick="sendSmsVerify(this)" href="javascript:void(0);">发送验证码</a>
					</div>
				</div>
			</div>
			<div class="control-group rvalicode-cont" style="display: none;">
				<label class="control-label visible-ie8 visible-ie9">图片验证码</label>
				<div class="controls">
					<div class="input-icon left">
						<i class="icon-ok"></i>
						<input class="m-wrap placeholder-no-fix" type="text" id="register-rvalicode" maxlength="4" placeholder="输入图形验证码">
                        <a href="javascript:;" class="auth-Code">
							<img src="{:url('mobile/open/verify')}" id="regImgVerifyPic" height="100%"  onclick="doRefreshVerfiy(this)"/> 
                        </a>
					</div>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<label class="checkbox">
					<input type="checkbox" id="register_tnc">同意<a href="/business/login/protocal">《用户协议》</a>
					</label>
				</div>
			</div>
			<div class="form-actions">
				<button id="register-back-btn" type="button" class="btn">
				<i class="m-icon-swapleft"></i>  返回
				</button>
				<button  id="registerBtn" class="btn green pull-right">
				注册 <i class="m-icon-swapright m-icon-white"></i>
				</button>
			</div>
		</div>
		<!-- END REGISTRATION FORM -->
	</div>
	<!-- END LOGIN -->
	<!-- BEGIN COPYRIGHT -->
	<div class="copyright">
		版权所有&copy; <a href="http://www.vpdai.com" target="_blank">互纳科技</a>
	</div>
	<script src="/public/business/lib/metronic/js/jquery-1.10.1.min.js" type="text/javascript"></script>
	<script src="/public/business/lib/metronic/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
	<script src="/public/business/lib/metronic/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
	<script src="/public/business/lib/metronic/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="/public/business/lib/metronic/js/jquery.slimscroll.min.js" type="text/javascript"></script>
	<script src="/public/business/lib/metronic/js/jquery.blockui.min.js" type="text/javascript"></script>
	<script src="/public/business/lib/metronic/js/jquery.cookie.min.js" type="text/javascript"></script>
	<script src="/public/business/lib/metronic/js/jquery.uniform.min.js" type="text/javascript"></script>
	<!-- <script src="/public/business/lib/metronic/js/jquery.validate.min.js" type="text/javascript"></script> -->
	<script src="/public/business/js/validate.js" type="text/javascript"></script>
	<script src="/public/business/js/app.js" type="text/javascript"></script>
	<script src="/public/business/js/login.js" type="text/javascript"></script>
	<script>
		jQuery(document).ready(function() {
		  	App.init();
		  	Login.init();
		 //  	var t = getUrlParam('t');
			// if(t == 1){
			// 	$('#register-btn').click();
			// }
		});

	</script>

	<!-- END JAVASCRIPTS -->

</html>