{extend name="base"/}
{block name="style"}
<style type="text/css">
#checking{
    margin-top: -80px;
    font-size: 20px;
    margin-bottom: 10px;
}

</style>

{/block}

{block name="body"}
<div class="row-fluid">
  <div class="span12 text-center">
      <img src="/public/business/img/waitingPage.gif" alt="">
      <p id="checking">审核中...</p>
      <a class="btn" onclick="logout()">退出</a>
  </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
  $(".navbar, .page-sidebar ").on('click',function(){
    // ui_alert('alert-error','权限不足,请先完善信息');
    return false;
  });
</script>

{/block}