{extend name="public/base"/}
{block name="style"}
<link rel="stylesheet" type="text/css" href="/public/business/css/selectArea.css">
<link rel="stylesheet" type="text/css" href="/public/business/lib/metronic/css/select2_metro.css">
<link rel="stylesheet" type="text/css" href="/public/business/lib/metronic/css/chosen.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/plugs/webuploader/webuploader.css">
<style type="text/css">
table {
    width: 80%;
    border: 1px solid black;
    margin-bottom: 20px;
    margin-left: 20px
}

caption {
    text-align: center;
    margin-bottom: 10px;
    color: #000
}

td {
    width: 25%;
    border: 1px solid gray;
    padding: 1px 6px;
    line-height: 28px;
}

td[colspan="4"] {
    text-align: center;
    background-color: gray;
    height: 30px;
    font-weight: bolder;
}

input[type="text"] {
    width: 100%;
    border: none;
}

input[name="property"],input[name="banks"],input[name="forms"] {
    margin-left: 10px;
    border: none;
    border-bottom: 1px solid black
}

input.attv {
    margin-left: 10px;
    border: none;
    border-bottom: 1px solid black;
    width: 100px;
}

input[type="text"][name="banks"] {
    width: 15%;
}

input:focus {
    outline: none;
}

.picker_button {
    margin-top: 8px;
}

.selectArea {
	width: 120px;
}
</style>
<script>
var info = {};
try {
	info = JSON.parse('{$infoStr}');
} catch (e) {
	alert("数据异常");
}

</script>
{/block}
{block name="body"}
<div class="main-box clearfix">
	<header class="main-box-header clearfix">
		<div class="pull-left">
			<h2>{$meta_title}</h2>
		</div>
	</header>
	<div class="main-box-body clearfix">
		<form method="post" class="form form-horizontal">
			<div class="form-group">
				<table>
					<caption><h3>合作车商信息表</h3></caption>
					<tr>
						<td colspan="4">企业信息</td>
					</tr>
					<tr>
						<td><b>企业名称</b></td>
						<td colspan="3"><input type="text" id="name" name="name" value=""></td>
					</tr>
					<tr>
						<td>企业信用代码</td>
						<td colspan="3"><input type="text" id="credit_code" name="credit_code" value=""></td>
					</tr>
					<tr>
						<td>城市</td>
						<td colspan="3">
							<div id="loc">
								<select id="loc_province" class="selectArea"></select>
								<select id="loc_city" class="selectArea"></select>
								<select id="loc_town" class="selectArea"></select>
							</div>
						</td>
					</tr>
					<tr>
						<td>详细地址</td>
						<td colspan="3"><input type="text" id="addr" name="addr" value=""></td>
					</tr>
					<tr>
						<td>营业期限</td>
						<td colspan="3"><input type="text" id="lic_validity" name="lic_validity" value=""></td>
					</tr>
					<tr>
						<td colspan="4">法人信息</td>
					</tr>
					<tr>
						<td>法人代表</td>
						<td><input type="text" id="rep" name="rep" value=""></td>
						<td>身份证号</td>
						<td><input type="text" id="idno" name="idno" value=""></td>
					</tr>
					<tr>
						<td>手机号</td>
						<td><input type="text" id="mobile" name="mobile" value=""></td>
						<td>邮箱</td>
						<td><input type="text" id="mail" name="mail" value=""></td>
					</tr>
					<tr>
						<td colspan="4">账户信息</td>
					</tr>
					<tr>
						<td>开户银行</td>
						<td><input type="text" id="bank_name" name="bank_name" value=""></td>
						<td>开户网点</td>
						<td><input type="text" id="bank_branch" name="bank_branch" value=""></td>
					</tr>
					<tr>
						<td>开户名</td>
						<td><input type="text" id="bank_account_name" name="bank_account_name" value=""></td>
						<td>开户账号</td>
						<td><input type="text" id="bank_account_id" name="bank_account_id" value=""></td>
					</tr>
					<tr>
						<td>开户银行(私户)</td>
						<td><input type="text" id="priv_bank_name" name="priv_bank_name" value=""></td>
						<td>开户网点(私户)</td>
						<td><input type="text" id="priv_bank_branch" name="priv_bank_branch" value=""></td>
					</tr>
					<tr>
						<td>开户名(私户)</td>
						<td><input type="text" id="priv_bank_account_name" name="priv_bank_account_name" value=""></td>
						<td>开户账号(私户)</td>
						<td><input type="text" id="priv_bank_account_id" name="priv_bank_account_id" value=""></td>
					</tr>
					<tr>
						<td colspan="4">业务信息</td>
					</tr>
					<tr>
						<td>属性</td>
						<td colspan="3">
							<input type="checkbox" name="property" value="1"/>4S店
							<input type="checkbox" name="property" value="2"/>小贷机构
						</td>
					</tr>
					<tr>
						<td>合作形式</td>
						<td colspan="3">
							<input type="checkbox" name="forms" value="1"/>按揭垫资
							<input type="checkbox" name="forms" value="2"/>二手车垫资
							<input type="checkbox" name="forms" value="3"/>车抵贷
						</td>
					</tr>
					<tr>
						<td colspan="4">照片信息</td>
					</tr>
					<tr>
						<td>身份证正面照</td>
						<td>
							<div class="col-lg-10 col-sm-10">
								<div class="picker-box">
									<div id="picker_rep_idcard_pic" class="picker_button">上传照片</div>
									<input type="hidden" name="rep_idcard_pic" id="field_rep_idcard_pic" {if condition="$info['rep_idcard_pic'] neq '0'"}value="{$info['rep_idcard_pic']|default=''}"{/if} ">
									<div id="fileList_rep_idcard_pic" class="upload-file-list-info" style="width:250px;">
										{if $info['rep_idcard_pic'] != 0}
											{php}
												$images = get_cover($info['rep_idcard_pic']);
											{/php}
											<li class="affix-list-item" id="WU_FILE_100">
                                                <div class="upload-file-info">
                                                    <span class="webuploader-pick-file-close" data-queued-id="WU_FILE_100" data-id="{$info['rep_idcard_pic']|default='0'}" data-fileurl="{$images['path']|default=''}"><i class="close"></i></span>
                                                    <span class="fname"></span>
                                                    <span class="fsize">上传时间:{$images['create_time']|date='Y-m-d H:i',###}</span>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="filebox image">
                                                    <img src="{$images['path']|default=''}" class="img-responsive">
                                                </div>
                                            </li>
										{/if}
									</div>
								</div>
							</div>
						</td>
						<td>身份证反面照</td>
						<td>
							<div class="col-lg-10 col-sm-10">
								<div class="picker-box">
									<div id="picker_rep_idcard_back_pic" class="picker_button">上传照片</div>
									<input type="hidden" name="rep_idcard_back_pic" id="field_rep_idcard_back_pic" {if condition="$info['rep_idcard_back_pic'] neq '0'"}value="{$info['rep_idcard_back_pic']|default=''}"{/if}>
									<div id="fileList_rep_idcard_back_pic" class="upload-file-list-info" style="width:250px;">
										{if $info['rep_idcard_back_pic'] != 0}
											{php}
												$images = get_cover($info['rep_idcard_back_pic']);
											{/php}
											<li class="affix-list-item" id="WU_FILE_101">
                                                <div class="upload-file-info">
                                                    <span class="webuploader-pick-file-close" data-queued-id="WU_FILE_101" data-id="{$info['rep_idcard_back_pic']|default='0'}" data-fileurl="{$images['path']|default=''}"><i class="close"></i></span>
                                                    <span class="fname"></span>
                                                    <span class="fsize">上传时间:{$images['create_time']|date='Y-m-d H:i',###}</span>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="filebox image">
                                                    <img src="{$images['path']|default=''}" class="img-responsive">
                                                </div>
                                            </li>
										{/if}
									</div>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>营业执照照片</td>
						<td>
							<div class="col-lg-10 col-sm-10">
								<div class="picker-box">
									<div id="picker_dealer_lic_pic" class="picker_button">上传照片</div>
									<input type="hidden" name="dealer_lic_pic" id="field_dealer_lic_pic" {if condition="$info['dealer_lic_pic'] neq '0'"}value="{$info['dealer_lic_pic']|default=''}"{/if}>
									<div id="fileList_dealer_lic_pic" class="upload-file-list-info" style="width:250px;">
										{if $info['dealer_lic_pic'] != 0}
											{php}
												$images = get_cover($info['dealer_lic_pic']);
											{/php}
											<li class="affix-list-item" id="WU_FILE_102">
                                                <div class="upload-file-info">
                                                    <span class="webuploader-pick-file-close" data-queued-id="WU_FILE_102" data-id="{$info['dealer_lic_pic']|default='0'}" data-fileurl="{$images['path']|default=''}"><i class="close"></i></span>
                                                    <span class="fname"></span>
                                                    <span class="fsize">上传时间:{$images['create_time']|date='Y-m-d H:i',###}</span>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="filebox image">
                                                    <img src="{$images['path']|default=''}" class="img-responsive">
                                                </div>
                                            </li>
										{/if}
									</div>
								</div>
								<div class="help-block"></div>
							</div>
						</td>
						<td></td>
						<td></td>
					</tr>
				</table>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label">渠道状态</label>
				<div class="col-lg-10 col-sm-10">
					<select class="form-control" name="status" id="status" style="width:auto;">
						<option value="1">待激活</option>
						<option value="2" selected>正常</option>
						<option value="3">终止合作</option>
					</select>
					<div class="help-block">请确认所有资料真实性后选择通过。</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label">审核备注</label>
				<div class="col-lg-10 col-sm-10">
					<textarea name="descr" id="descr"></textarea>
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-offset-2 col-lg-10">
					<input type="hidden" name="id" value="{$info['id']|default=''}">
					<button class="btn btn-success submit-btn ajax-post" type="submit" target-form="form-horizontal">确 定</button>
					<button class="btn btn-danger btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
				</div>
			</div>
		</form>
	</div>
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="/public/business/lib/metronic/js/select2.min.js" ></script>
<script type="text/javascript" src="/public/business/lib/metronic/js/chosen.jquery.min.js"></script>
<script type="text/javascript" src="/public/business/js/selectArea.js"></script>
<script type="text/javascript" src="__PUBLIC__/plugs/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/plugs/webuploader/webuploader.custom.js"></script>
<script type="text/javascript">

	//初始化表单内容

	$("input[type=text]").each(function(i){
		var name = $(this).attr('name');
		if(info[name] !='' ){
			$(this).val(info[name]);
		}
	});

	function btnSentUploader(picName){
		$("#picker_" + picName).SentUploader({
			fileNumLimit:1,
			uploadEvents: {
				uploadComplete:function(file){}
			},
			listName : 'fileList_' + picName,
			hiddenName: 'field_' + picName,
			hiddenValType:1,
			fileSingleSizeLimit:20*1024*1024,
			closeX:true,
			compress:{
				width: 1024,
				quality: 90,
				allowMagnify: false,
				crop: false,
				preserveHeaders: true,
				noCompressIfLarger: false,
				compressSize: 0
			}
		},
		{
			fileType: 'service',
			filename : 'images',
		});
	};

	//格式化checkBox
	function encodeCheckbox(name){
	    var data='';
	    $("input[name="+name+"]:checkbox:checked").each(function() {
	        data += $(this).val() + ',';
	    })
	    data = data.substring(0, data.length - 1);
	    return data;
	}

	//初始化checkBox
	function initCheckBox(name){
	    var initData = {};
	    if( typeof(info[name]) == "string" && info[name] != ''){
	        initData = info[name].split(',');
	        $("input[name="+name+"]:checkbox").each(function() {
	            var thisValue = $(this).val();
	            var isInArray = initData.indexOf(thisValue);
	            if(isInArray != '-1'){
	                $(this).click();
	            }
	        })
	    }
	}

$(function(){
	btnSentUploader("dealer_lic_pic");
	btnSentUploader("rep_idcard_pic");
	btnSentUploader("rep_idcard_back_pic");

	initCheckBox('property');
	initCheckBox('forms');

	if(typeof(info['city']) == "string" && info['city'] != ''){
	    var city = info['city'].split(',');
	    $("#loc_province").select2('val',city[0]).trigger("change");
	    $("#loc_city").select2('val',city[1]).trigger("change");
	    $("#loc_town").select2('val',city[2]).trigger("change");
	}

	$('#status').val(info['status']);

});
</script>
{/block}