{extend name="public/base"/}
{block name="style"}
<link rel="stylesheet" type="text/css" href="__CSS__/metronic.css"/>
<link rel="stylesheet" type="text/css" href="__CSS__/DT_bootstrap.css"/>
<script type="text/javascript">
	var info = {};
	try {
		info = JSON.parse('{$infoStr}');
	} catch (e) {
		alert("数据异常");
	}
</script>
{/block}
{block name="body"}
<div class="main-box clearfix">
	<header class="main-box-header clearfix">
		<div class="pull-left">
			<h2>{$meta_title}</h2>
		</div>
		<div class="pull-right">
			<a class="btn btn-primary" href="{:url('add')}">新 增</a>
			<button class="btn btn-danger ajax-post confirm" url="{:url('delete')}" target-form="ids">删 除</button>
		</div>
	</header>
	<div class="main-box-body clearfix">
		<div class="table-responsive clearfix">
			<table class="table table-hover" id="table-assetChannel">
				<thead>
					<tr>
						<th><input class="checkbox check-all" type="checkbox"></th>
						<th>编号</th>
						<th>渠道名称</th>
						<th>渠道类型</th>
						<th>法人</th>
						<th>联系电话</th>
						<th>创建时间</th>
						<th>创建人</th>
						<th>状态</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
</div>
{/block}

{block name="script"}
<script type="text/javascript" src="/public/business/lib/metronic/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/public/business/lib/metronic/js/DT_bootstrap.js"></script>
<script type="text/javascript" src="__JS__/table-managed.js"></script>
<script type="text/javascript" src="__JS__/manager.js"></script>

<script type="text/javascript">
	function tpl(data){
		var html = '';
		if(typeof(data) =='object'){
		for(var index = 0; index < data.length; index++){
		  	html += '<tr class="odd gradex">'
		  		+'<td><input class="ids row-selected" type="checkbox" name="id[]" value="'+data[index].id+'"></td>'
		  		+'<td>' + data[index].id + '</td>'
		  		+'<td>'+ data[index].name +'</td>'
		  		+'<td>'+ g_dealerProperty[data[index].property] +'</td>'
		  		+'<td>'+ data[index].rep +'</td>'
		  		+'<td>'+ data[index].mobile +'</td>'
		  		+'<td>'+ formatDate(data[index].create_time) +'</td>'
		  		+'<td>'+ ''+'</td>'
		  		+'<td>'+ g_dealerStatus[data[index].status] +'</td>'
		  		+'<td><a href="/admin/assetChannel/edit?id='+ data[index].id + '">编辑</a></td>'
		  		 +'</tr>'
			}
		}
		return html;
	};
	$('#table-assetChannel tbody').html(tpl(info.data));

    $(function(){
    	TableManaged.init();
    });
</script>

{/block}