{extend name="base"/}
{block name="style"}
<style type="text/css">
.page-500 {
  text-align: center;
  margin-top: 200px;
}

.page-500 .number {  
  display: inline-block;
  letter-spacing: -10px;
  line-height: 128px;
  font-size: 158px;
  font-weight: 300;
  color: #ec8c8c;
  text-align: right;
}

.page-500 .details {
  margin-left: 40px;
  display: inline-block;
  text-align: left;
}
</style>

{/block}

{block name="body"}
<div class="row-fluid">
	<div class="span12 page-500">
		<div class="number">Y(^_^)Y</div>
		<div class="details">
			<h3>提交成功!</h3>
			<p>正在审核……</p>
		</div>
	</div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
	$(".navbar, .page-sidebar ").on('click',function(){
		// ui_alert('alert-error','权限不足,请先完善信息');
		return false;
	});
</script>

{/block}	