{extend name="public/base"/}
{block name="style"}
<link rel="stylesheet" type="text/css" href="__CSS__/metronic.css"/>
<link rel="stylesheet" type="text/css" href="__CSS__/DT_bootstrap.css"/>
<style type="text/css">
	.form-group{
		margin-bottom: 0;
	}
</style>
<script type="text/javascript">
	var info = {};
	try {
		info = JSON.parse('{$infoStr}');
	} catch (e) {
		alert("数据异常");
	}
</script>
{/block}
{block name="body"}
<div class="main-box clearfix">
	<header class="main-box-header clearfix">
		<div class="pull-left">
			<h2>{$meta_title}</h2>
		</div>
	</header>
	<div class="main-box-body clearfix">
		<div class="clearfix">
			<table class="table table-hover" id="table-loanExamine">
				<thead>
					<tr>
						<th>项目编号</th>
						<th>渠道名称</th>
						<th>客户姓名</th>
						<th>申请金额</th>
						<th>审批额度</th>
						<th>借款期限</th>
						<th>借款费用状态</th>
						<th>提交时间</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
  	<div class="modal-dialog" role="document">
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
        		<h4 class="modal-title">放款审核</h4>
        		<input type="hidden" id="orderId">
      		</div>
	      	<div class="modal-body form-horizontal">
	      		<div class="form-group">
			    	<label class="col-sm-2 control-label">订单编号</label>
				    <div class="col-sm-4">
				      	<p class="form-control-static item-info" name="id"></p>
				    </div>
				    <label class="col-sm-2 control-label">订单类型</label>
				    <div class="col-sm-4">
				      	<p class="form-control-static item-info" name="type"></p>
				    </div>
			  	</div>
			  	<div class="form-group">
			    	<label class="col-sm-2 control-label">放款账户</label>
				    <div class="col-sm-4">
				      	<p class="form-control-static item-info" name="dealer_bankcard"></p>
				    </div>
				    <label class="col-sm-2 control-label">审批额度</label>
				    <div class="col-sm-4">
				      	<p class="form-control-static item-info" name="examine_limit"></p>
				    </div>
			  	</div>
			  	<div class="form-group" style="display: none;" id="type1">
			    	<label class="col-sm-2 control-label">客户名称</label>
				    <div class="col-sm-4">
				      	<p class="form-control-static item-info" name="name"></p>
				    </div>
				    <label class="col-sm-2 control-label">分期期数</label>
				    <div class="col-sm-4">
				      	<p class="form-control-static item-info" name="repay_period"></p>
				    </div>
			  	</div>
			  	<div class="form-group" style="display: none;" id="type2">
			    	<label class="col-sm-2 control-label">客户名称</label>
				    <div class="col-sm-4">
				      	<p class="form-control-static item-info" name="dealer_name"></p>
				    </div>
				    <label class="col-sm-2 control-label">还款日期</label>
				    <div class="col-sm-4">
				      	<p class="form-control-static item-info" name="repay_time"></p>
				    </div>
			  	</div>
			  	<div class="form-group">
			  		<label class="col-sm-2 control-label">乾多多编号</label>
				    <div class="col-sm-4">
				      	<p class="form-control-static item-info" name="moneymoreid"></p>
				    </div>
				    <label class="col-sm-2 control-label">提交时间</label>
				    <div class="col-sm-4">
				      	<p class="form-control-static item-info" name="create_time"></p>
				    </div>
			  	</div>
			  	<div class="form-group">
			  		<label class="col-sm-2 control-label">费用类型</label>
				    <div class="col-sm-4">
				      	<p class="form-control-static item-info" name="fee_type">GPS费用</p>
				    </div>
				    <label class="col-sm-2 control-label">费用金额</label>
				    <div class="col-sm-4">
				      	<p class="form-control-static item-info" name="fee"></p>
				    </div>
			  	</div>
			  	<div class="form-group">
			  		<label class="col-sm-2 control-label">放款金额</label>
				    <div class="col-sm-4">
				      	<p class="form-control-static item-info" name="loan_money"></p>
				    </div>
				    <label class="col-sm-2 control-label">平台账户</label>
				    <div class="col-sm-4">
				      	<p class="form-control-static item-info" name="platform_bankcard"></p>
				    </div>
			  	</div>
	          	<div class="form-group">
	            	<label class="col-sm-2 control-label">审核</label>
	            	<div class="col-sm-6 pt5">
		            	<select id="examineStatus">
		            		<option value="1">通过</option>
		            		<option value="0">未通过</option>
		            	</select>
		            </div>
	          	</div>
	          	<div class="form-group">
	            	<label class="col-sm-2 control-label">审核备注</label>
	            	<div class="col-sm-6 pt5">
	            		<textarea class="form-control" id="descr" name="descr"></textarea>
	            	</div>
	          	</div>
		    </div>
		    <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		        <a type="button" class="btn btn-primary" id="examineBtn">提交</a>
		    </div>
	    </div>
  	</div>
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="/public/business/lib/metronic/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/public/business/lib/metronic/js/DT_bootstrap.js"></script>
<script type="text/javascript" src="__JS__/table-managed.js"></script>
<script type="text/javascript" src="__JS__/manager.js"></script>
<script type="text/javascript">
	function tpl(data){
		var html = '';
		if(typeof(data) =='object'){
		for(var index = 0; index < data.length; index++){
		  	html += '<tr class="odd gradex">'
		  		+'<td>'+ data[index].sn + '</td>'
		  		+'<td>'+ data[index].dealer_name +'</td>'
		  		+'<td>'+ data[index].name +'</td>'
		  		+'<td>￥'+ data[index].loan_limit +'</td>'
		  		+'<td>￥'+ data[index].examine_limit +'</td>'
		  		+'<td>'+ data[index].endtime +'天</td>'
		  		+'<td>'+ g_financeStatus[data[index].finance] +'</td>'
		  		+'<td>'+ formatDate(data[index].create_time) +'</td>'
		  		+'<td><a class="opera" data-toggle="modal" data="'+ data[index].id+'">审核</a></td>'
		  		 +'</tr>'
			}
		}
		return html;
	};
	$('#table-loanExamine tbody').html(tpl(info));

    $(function(){
    	TableManaged.init();

    	$('#table-loanExamine').on('click','.opera',function(){
	   		var orderId = $(this).attr('data');
	   		var ordertype = {'1':'90贷','2':'vp贷','3':'90贷','4':'vp贷'};
	   		$("#orderId").val(orderId);
	   		ajax_jquery({
		        url: apiUrl + '/admin/finance/loan',
		        data:{
		            'id': orderId
		        },
		        success:function(resp){
		            if (resp.code == "1" ) {
		            	$('#myModal .item-info').each(function(){
							var name = $(this).attr('name');
						    if(typeof(resp.data[name])!='object' && this.tagName == 'P'){
						        $(this).text(resp.data[name]);
						    }else if(typeof(resp.data[name])!='' && (this.tagName == 'INPUT' || this.tagName == 'TEXTAREA')){
						    	$(this).val(resp.data[name]);
						    }
						});
						$('p[name=type]').text(ordertype[resp.data.type]);
						$('p[name=create_time]').text(formatDate(resp.data['create_time']));
						if(resp.data.type == 1 || resp.data.type == 3){
							$('#type1').show();
							$('#type2').hide();
						}else if(resp.data.type == 2 || resp.data.type == 4){
							$('#type1').hide();
							$('#type2').show();
						}
				   		$('#myModal').modal();
		            } else {
		                if (typeof(resp.msg) == 'string') {
		                    ui_alert(resp.msg);
		                    return false;
		                }
		            }
		        }
			});
	   	});

	   	$('#examineBtn').click(function(){
	   		var orderId = $('#orderId').val();
	   	 	var examineStatus = $('#examineStatus').val();
	   	 	var descr = $('#descr').val().replace(/\n/g,"").replace(/\s+/g, "");
	   	 	if(examineStatus == ''){
	   	 		ui_alert("请选择审核结果");
	            return false;
	   	 	}
	   	 	ajax_jquery({
		        url: apiUrl +'/admin/finance/loan',
		        data:{
		        	'id': orderId,
		            'status': examineStatus,
		            'descr': descr
		        },
		        success:function(resp){
		            if (resp.code == "1" ) {
		            	ui_alert("提交成功","success");
		            	window.location.reload();
		            } else {
		                if (typeof(resp.msg) == 'string') {
		                    ui_alert(resp.msg);
		                    return false;
		                }
		            }
		        }
			});
	   	})

    });
</script>

{/block}