{extend name="public/base"/}
{block name="style"}
<link rel="stylesheet" type="text/css" href="__CSS__/metronic.css"/>
<link rel="stylesheet" type="text/css" href="__CSS__/DT_bootstrap.css"/>
<script>
	var info = {};
	try {
		info = JSON.parse('{$infoStr}');
	} catch (e) {
		alert("数据异常");
	}
</script>
{/block}
{block name="body"}
<div class="main-box clearfix">
	<header class="main-box-header clearfix">
		<div class="pull-left">
			<h2>{$meta_title}</h2>
		</div>
	</header>
	<div class="main-box-body clearfix">
		<div class="clearfix">
			<table class="table table-hover" id="table-receivableExamine">
				<thead>
					<tr>
						<th>编号</th>
						<th>流水号</th>
						<th>渠道名称</th>
						<th>项目编号</th>
						<th>回款金额</th>
						<th>到账金额</th>
						<th>手续费</th>
						<th>手续费承担方</th>
						<th>类型</th>
						<th>状态</th>
						<th>备注</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
  	<div class="modal-dialog" role="document">
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
        		<h4 class="modal-title">回款审核</h4>
      		</div>
	      	<div class="modal-body form-horizontal">
	      		<div class="form-group">
			    	<label class="col-sm-2 control-label">平台账户</label>
				    <div class="col-sm-4">
				      	<p class="form-control-static item-info" id="platform_account"></p>
				    </div>
				    <label class="col-sm-2 control-label">渠道名称</label>
				    <div class="col-sm-4">
				      	<p class="form-control-static item-info" id="dealer_name"></p>
				    </div>
			  	</div>
			  	<div class="form-group">
			    	<label class="col-sm-2 control-label">回款金额</label>
				    <div class="col-sm-4">
				      	<p class="form-control-static item-info" id="repay_money"></p>
				    </div>
				    <label class="col-sm-2 control-label">手续费</label>
				    <div class="col-sm-4">
				      	<p class="form-control-static item-info" id="manage_money"></p>
				    </div>
			  	</div>
			  	<div class="form-group">
			    	<label class="col-sm-2 control-label">回款方式</label>
				    <div class="col-sm-4">
				      	<p class="form-control-static item-info">线下转账</p>
				    </div>
				    <label class="col-sm-2 control-label">回款时间</label>
				    <div class="col-sm-4">
				      	<p class="form-control-static item-info" id="repay_time"></p>
				    </div>
			  	</div>
			  	<div class="form-group">
			    	<label class="col-sm-2 control-label">对方账户</label>
				    <div class="col-sm-4 pt5">
				      	<input type="number" id="dealer_bank_account" class="item-info">
				    </div>
				    <label class="col-sm-2 control-label">开户银行</label>
				    <div class="col-sm-4 pt5">
				      	<input type="text" id="dealer_bank" class="item-info">
				    </div>
			  	</div>
			  	<div class="form-group">
			    	<label class="col-sm-2 control-label">开户网点</label>
				    <div class="col-sm-4 pt5">
				      	<input type="text" id="dealer_bank_branch" class="item-info">
				    </div>
				    <label class="col-sm-2 control-label">流水号*</label>
				    <div class="col-sm-4 pt5">
				      	<input type="text" id="serial_num" class="item-info">
				    </div>
			  	</div>
	          	<div class="form-group">
	            	<label class="col-sm-2 control-label">审核*</label>
	            	<div class="col-sm-4 pt5">
		            	<select id="examineStatus">
		            		<option value="1">通过</option>
		            		<option value="0">未通过</option>
		            	</select>
		            </div>
		            <label class="col-sm-2 control-label">到账金额*</label>
				    <div class="col-sm-4 pt5">
				      	<input type="number" id="true_repay_money" class="item-info">
				    </div>
	          	</div>
	          	<div class="form-group">
	            	<label class="col-sm-2 control-label">审核备注</label>
	            	<div class="col-sm-4 pt5">
	            		<textarea class="form-control" id="descr"></textarea>
	            	</div>
	          	</div>
	      	</div>
     		 <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		        <a type="button" class="btn btn-primary" id="examineBtn">提交</a>
		     </div>
    	</div>
  	</div>
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="/public/business/lib/metronic/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/public/business/lib/metronic/js/DT_bootstrap.js"></script>
<script type="text/javascript" src="__JS__/table-managed.js"></script>
<script type="text/javascript" src="__JS__/manager.js"></script>
<script type="text/javascript">
	function tpl(data){
		var html = '';
		if(typeof(data) =='object'){
		for(var index = 0; index < data.length; index++){
		  	html += '<tr class="odd gradex">'
		  		+'<td>' + data[index].id + '</td>'
		  		+'<td>' + data[index].serial_num + '</td>'
		  		+'<td>'+ data[index].dealer_name +'</td>'
		  		+'<td>'+ data[index].id +'</td>'
		  		+'<td>￥'+ data[index].repay_money +'</td>'
		  		+'<td>￥'+ data[index].true_repay_money +'</td>'
		  		+'<td>￥'+ data[index].manage_money +'</td>'
		  		+'<td>'+ '无' +'</td>'
		  		+'<td>'+ '线下转账' +'</td>'
		  		+'<td>'+ g_repayStatus[data[index].status] +'</td>'
		  		+'<td>'+ data[index].descr +'</td>'
		  		+'<td><a class="opera" data-toggle="modal" data="'+ data[index].id+'">审核</a></td>'
		  		 +'</tr>'
			}
		}
		return html;
	};
	$('#table-receivableExamine tbody').html(tpl(info));

    $(function(){
    	var id = '';
    	TableManaged.init();

    	$('#table-receivableExamine').on('click','.opera',function(){
	   		id = $(this).attr('data');
	   		ajax_jquery({
		        url: apiUrl + '/admin/finance/receivable',
		        data:{
		            'id': id
		        },
		        success:function(resp){
		            if (resp.code == "1" ) {
		            	$('#myModal .item-info').each(function(){
							var name = $(this).attr('id');
						    if(resp.data[name] !='' && this.tagName == 'P'){
						        $(this).text(resp.data[name]);
						        console.log(this)
						    }else if(resp.data[name] !='' && this.tagName == 'Input'){
						    	$(this).value(resp.data[name]);
						    }
						    if(name == 'create_time'){
						    	$(this).text(formatDate(resp.data[name]));
						    }
						});
				   		$('#myModal').modal();
		            } else {
		                if (typeof(resp.msg) == 'string') {
		                    ui_alert(resp.msg);
		                    return false;
		                }
		            }
		        }
			});
	   	});

	   	$('#examineBtn').click(function(){
	   	 	var dealer_bank_account = $('#dealer_bank_account').val();
	   		var dealer_bank = $('#dealer_bank').val();
	   		var dealer_bank_branch = $('#dealer_bank_branch').val();
	   		var serial_num = $('#serial_num').val();
	   	 	var examineStatus = $('#examineStatus').val();
	   	 	var true_repay_money = $('#true_repay_money').val();
	   	 	var descr = $('#descr').val();
	   	 	if(examineStatus == ''){
	   	 		ui_alert("请选择审核结果");
	            return false;
	   	 	}else if(serial_num == ''){
	   	 		ui_alert("请输入流水号");
	            return false;
	   	 	}else if(true_repay_money == ''){
	   	 		ui_alert("请输入实际到账金额");
	            return false;
	   	 	}
	   	 	ajax_jquery({
		        url: apiUrl +'/admin/finance/receivable',
		        data:{
		        	'id': id,
		        	'dealer_bank_account': dealer_bank_account,
		        	'dealer_bank': dealer_bank,
		        	'dealer_bank_branch': dealer_bank_branch,
		        	'serial_num': serial_num,
		            'status': examineStatus,
		            'true_repay_money': true_repay_money,
		            'descr': descr
		        },
		        success:function(resp){
		            if (resp.code == "1" ) {
		            	ui_alert("审核成功","success");
		            	window.location.reload();
		            } else {
		                if (typeof(resp.msg) == 'string') {
		                    ui_alert(resp.msg);
		                    return false;
		                }
		            }
		        }
			});
	   	})

    });
</script>

{/block}