{extend name="public/base"/}
{block name="style"}
<link rel="stylesheet" type="text/css" href="__CSS__/metronic.css"/>
<link rel="stylesheet" type="text/css" href="__CSS__/DT_bootstrap.css"/>
<script>
	var info = {};
	try {
		info = JSON.parse('{$infoStr}');
	} catch (e) {
		alert("数据异常");
	}
</script>
{/block}
{block name="body"}
<div class="main-box clearfix">
	<header class="main-box-header clearfix">
		<div class="pull-left">
			<h2>{$meta_title}</h2>
		</div>
	</header>
	<div class="main-box-body clearfix">
		<div class="clearfix">
			<table class="table table-hover" id="table-transaction">
				<thead>
					<tr>
						<th>编号</th>
						<th>账户名称</th>
						<th>类型</th>
						<!-- <th>账户总额</th> -->
						<th>操作金额</th>
						<!-- <th>可用金额</th> -->
						<!-- <th>冻结金额</th> -->
						<!-- <th>待收金额</th> -->
						<th>添加时间</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="/public/business/lib/metronic/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/public/business/lib/metronic/js/DT_bootstrap.js"></script>
<script type="text/javascript" src="__JS__/table-managed.js"></script>
<script type="text/javascript" src="__JS__/manager.js"></script>
<script type="text/javascript">
	function tpl(data){
		var html = '';
		if(typeof(data) =='object'){
		for(var index = 0; index < data.length; index++){
		  	html += '<tr class="odd gradex">'
		  		+'<td>' + data[index].id + '</td>'
		  		+'<td>'+ data[index].dealer_name +'</td>'
		  		+'<td>'+ g_transactionType[data[index].type]+'</td>'
		  		// +'<td>￥'+ formatAmount(data[index].total_money) +'</td>'
		  		+'<td>￥'+ formatAmount(data[index].account_money) +'</td>'
		  		// +'<td>￥'+ formatAmount(data[index].use_money) +'</td>'
		  		// +'<td>￥'+ formatAmount(data[index].lock_money) +'</td>'
		  		// +'<td>￥'+ formatAmount(data[index].repay_money) +'</td>'
		  		+'<td>'+ formatDate(data[index].create_time) +'</td>'
		  		 +'</tr>'
			}
		}
		return html;
	};
	$('#table-transaction tbody').html(tpl(info));

    $(function(){
    	TableManaged.init();

	   	$('#examineBtn').click(function(){
	   	 	var examineStatus = $('#examineStatus').val();
	   	 	var descr = $('#descr').val();
	   	 	if(examineStatus == ''){
	   	 		ui_alert("请选择审核结果");
	            return false;
	   	 	}
	   	 	ajax_jquery({
		        url: apiUrl +'/admin/finance/transaction',
		        data:{
		            'status': examineStatus,
		            'descr': descr
		        },
		        success:function(resp){
		            if (resp.code == "1" ) {
		            	ui_alert("支付成功","success");
		            	window.location.reload();
		            } else {
		                if (typeof(resp.msg) == 'string') {
		                    ui_alert(resp.msg);
		                    return false;
		                }
		            }
		        }
			});
	   	})

    });
</script>

{/block}