
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <meta http-equiv="pragma" content="no-cache">
    <title>VP贷-享全款的汽车分期</title>
    <link href="/public/wap/images/logo-ico.png" type="image/x-icon" rel="shortcut icon">
    <link rel="stylesheet" href="/public/wap/css/framework7.ios.css">
    <link rel="stylesheet" href="/public/wap/css/framework7.ios.colors.min.css">
    <link rel="stylesheet" type="text/css" href="/public/wap/css/new-app.css" media="all">   
</head>
<body>
    
    <div class="views">
        <div class="view view-main">
            <div class="navbar wb">
                <div class="navbar-inner">
                    <div class="left">
                        <a href="javascript:history.go(-1)" class="link icon-only back">
                            <i class="icon icon-back color-orange"></i>
                        </a>
                    </div>
                    <div class="center">找回密码</div>
                </div>
            </div>
            <div class="pages navbar-through">
                <div class="page">
                    <div class="page-content">
                        <form  class="list-block mt10">
                            <ul>
                                <li class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title label">账号</div>
                                        <div class="item-input">
                                            <input type="tel" id="username" name="username" value="" placeholder="请输入手机号"  onkeyup='this.value=this.value.replace(/\D/gi,"")'  maxlength="11">
                                        </div>
                                    </div>
                                </li>
                                <li class="item-content rvalicode-cont" style="display: none;">
                                    <div class="item-inner">
                                        <div class="item-title label">图形验证码</div>
                                        <div class="item-input">
                                            <input type="text" id="rvalicode" name="rvalicode" maxlength="4" placeholder="输入图形验证码">
                                            <a href="javascript:;" class="auth-Code">
												<img src="{:url('mobile/open/verify')}"  name="verify" id="verify" height="100%"  onclick="doRefreshVerfiy()"/> 
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title label">短信验证码</div>
                                        <div class="item-input rel">
                                            <input type="number" id="smsVerify" maxlength="6" placeholder="输入验证码">
                                            <a id="getSmsCode" class="getcode" onclick="sendSmsVerify()" href="javascript:void(0);">发送验证码</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title label">新密码</div>
                                        <div class="item-input">
                                            <input type="password" id="password" name="password" maxlength="16" autocomplete="off"
                                                   placeholder="输入新密码（8-16位英文数字组合）">
                                        </div>
                                    </div>
                                </li>
                               <!--  <li class="item-content" style="display: none;">
                                    <div class="item-inner">
                                        <div class="item-title label">身份验证</div>
                                        <div class="item-input">
                                             <input type="text" id="idcard" name="idcard" maxlength="4" value='1234'
                                                   placeholder="请输入本人身份证号后4位">
                                            <input type="hidden" class="is_realname" value="0">                                                 
                                        </div>
                                    </div>
                                </li> -->
                            </ul>
                            <!-- <div class="borrow-det-item tr">
                                <a class="blue-bg fz6 pr15" onclick="sendRestPasswordSmsCode('voice')" href="javascript:void(0);">收不到验证码?</a>
                            </div> -->

                            <div class="content-block m-bottom-button">
                                <a id="submit" class="button button-big button-fill color-orange" onclick="return doResetDealerPassword();">提交</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="loading"></div>
    <script type="text/javascript" src="/public/wap/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/public/wap/js/framework7.min.js"></script>
    <script type="text/javascript" src="/public/wap/js/my-app.js"></script>    
    <script type="text/javascript" src="/public/wap/js/md5.js"></script>
    <script type="text/javascript" src="/public/wap/js/user.js"></script>
</body>
</html>