{extend name="base"}
{block name="body"}
<!--资金记录-->
<div class="row-fluid">
	<div class="span12">
		<div class="portlet">
			<form action="#" class="form-horizontal">
				<div class="control-group">
					<label class="control-label" style="text-align: left">日期范围</label>
					<div class="controls" style="float:left;margin-left: 0;">
						<label class="radio">
							<div class="radio">
								<span class="checked">
									<div class="radio"><span><input type="radio" name="optionsRadios1" value="option1" checked=""></span></div>
								</span>
							</div>
							全部
						</label>
						<label class="radio">
							<div class="radio">
								<span>
									<div class="radio"><span><input type="radio" name="optionsRadios1" value="option2"></span></div>
								</span>
							</div>
							最近7天
						</label>
						<label class="radio">
							<div class="radio">
								<span>
									<div class="radio"><span><input type="radio" name="optionsRadios1" value="option2"></span></div>
								</span>
							</div>
							1个月
						</label>
						<label class="radio">
							<div class="radio">
								<span>
									<div class="radio"><span><input type="radio" name="optionsRadios1" value="option2"></span></div>
								</span>
							</div>
							2个月
						</label>
						<label class="radio">
							<div class="radio">
								<span>
									<div class="radio"><span><input type="radio" name="optionsRadios1" value="option2"></span></div>
								</span>
							</div>
							3个月
						</label>
					</div>
					<label class="control-label" style="padding-top: 6px;padding-right:5px;width: auto;">具体日期</label>
					<div class="controls">
						<div class="input-append" id="ui_date_picker_trigger">
							<input type="text" class="m-wrap medium hasDatepicker" style="border-right: 1px solid #e5e5e5!important;" id="dp1489392462139">
						</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" style="text-align: left">交易状态</label>
					<div class="controls" style="float:left;margin-left: 0;">
						<label class="radio">
							<div class="radio">
								<span class="checked">
									<input type="radio" name="optionsRadios1" value="option1" checked>
								</span>
							</div>
							全部
						</label>
						<label class="radio">
							<div class="radio">
								<span>
									<input type="radio" name="optionsRadios1" value="option2">
								</span>
							</div>
							支付款项
						</label>
						<label class="radio">
							<div class="radio">
								<span>
									<input type="radio" name="optionsRadios1" value="option2">
								</span>
							</div>
							垫资到账
						</label>
						<label class="radio">
							<div class="radio">
								<span>
									<input type="radio" name="optionsRadios1" value="option2">
								</span>
							</div>
							垫资还款
						</label>
						<label class="radio">
							<div class="radio">
								<span>
									<input type="radio" name="optionsRadios1" value="option2">
								</span>
							</div>
							充值
						</label>
						<label class="radio">
							<div class="radio">
								<span>
									<input type="radio" name="optionsRadios1" value="option2">
								</span>
							</div>
							提现
						</label>
					</div>
					<label class="control-label" style="width: auto;text-align: left;margin-right: 5px">更多类型</label>
					<div class="controls">
						<select class="small m-wrap" tabindex="1">
							<option value="Category 1">Category 1</option>
							<option value="Category 2">Category 2</option>
							<option value="Category 3">Category 5</option>
							<option value="Category 4">Category 4</option>
						</select>
					</div>
				</div>
			</form>
			<div class="span12" style="margin-left: 0;">
				<div class="portlet box">
					<div class="portlet-body">
						<table class="table table-hover table-bordered">
							<thead>
								<tr>
									<th>时间</th>
									<th>类型</th>
									<th>交易对方</th>
									<th>操作金额</th>
									<th>备注</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{/block}