{extend name="base"/}
{block name="style"}
<link rel="stylesheet" type="text/css" href="/public/business/css/selectArea.css">
<link rel="stylesheet" type="text/css" href="/public/business/lib/metronic/css/select2_metro.css">
<style type="text/css">
	.info-item {
		display: inline-block;
    	margin-top: 7px;
	}
	#dealer_lic_pic{
		width: 120px;
		
	}
</style>
<script type="text/javascript">
	var info = {};
	try {
		info = JSON.parse('{$infoStr}');
	} catch (e) {
		alert("数据异常");
	}

</script>
{/block}
{block name="body"}
<div class="row-fluid info">
	<div class="span12 form-horizontal">
		<div class="portlet">
			<div class="portlet-title">
				<div class="caption">企业</div>
			</div>
			<div class="portlet-body">
				<div class="control-group">
					<label class="control-label">企业名称</label>
					<div class="controls">
						<span id="name" class="info-item"></span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">单位所在地</label>
					<div class="controls">
						<span id="province" class="info-item"></span>
						<span id="city" class="info-item"></span>
						<span id="town" class="info-item"></span>
					</div>
					<div class="controls" id="loc" style="display: none;">
						<select id="loc_province" class="selectArea"></select>
						<select id="loc_city" class="selectArea"></select>
						<select id="loc_town" class="selectArea"></select>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">详细地址</label>
					<div class="controls">
						<span id="addr" class="info-item"></span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">签约业务</label>
					<div class="controls">
						<span id="forms" class="info-item"></span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">营业执照</label>
					<div class="controls">
						{php}$images = get_cover($info['dealer_lic_pic']);{/php}
						<span id="dealer_lic_pic" class="info-item">
                            <img src="{$images['path']|default=''}" class="img-responsive">
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="portlet">
			<div class="portlet-title">
				<div class="caption">法人</div>
			</div>
			<div class="portlet-body">
				<div class="control-group">
					<label class="control-label">法人姓名</label>
					<div class="controls">
						<span id="rep" class="info-item"></span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">身份证号</label>
					<div class="controls">
						<span id="idno" class="info-item"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="/public/business/lib/metronic/js/select2.min.js" ></script>
<script type="text/javascript" src="/public/business/js/selectArea.js"></script>
<script type="text/javascript">
	 
$(function(){
	//初始化表单
	$("span.info-item").each(function(i){
	    var name = $(this).attr('id');
	    if(typeof(info[name]) == "string" &&info[name] !=''){
	    	if(name == 'idno'){
	        	info[name] = encryptID(info[name]);
	        }
	        $(this).text(info[name]);
	    }
	});

	if(info['forms']!=""){
		var forms =['按揭垫资','二手车垫资','车抵贷'];
		var formsData = info['forms'].split(',');
		var formsText = "";
		for(var i in formsData){
	       formsText += (forms[formsData[i]-1]+' ');
	    }
	    $('#forms').text(formsText);
	}
	//初始化三级联动city
	if(typeof(info['city']) == "string" && info['city'] != ''){
	    var city = info['city'].split(',');
	   $("#loc_province").select2('val',city[0]).trigger("change");
	    $("#loc_city").select2('val',city[1]).trigger("change");
	    $("#loc_town").select2('val',city[2]).trigger("change");
	    var loc_province = $('#loc_province').select2('data').text;
	    var loc_city = $('#loc_city').select2('data').text;
	    var loc_town = $('#loc_town').select2('data').text;
	    $('#province').text(loc_province);
	    $('#city').text(loc_city);
	    $('#town').text(loc_town);
	}


})
</script>
{/block}