{extend name="base"/}
{block name="body"}
<!--账户充值-->
<div class="alert hide">
  	<a class="close"></a>
  	<span></span>
</div>
<div class="row-fluid">
	<div class="span12">
		<div class="portlet box">
			<div class="portlet-body form">
				<form class="form-horizontal">
					<div class="control-group">
						<label class="control-label">充值金额</label>
						<div class="controls">
							<input type="number" id="amount" placeholder="充值金额" class="m-wrap small">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">充值方式</label>
						<div class="controls">
							<select id="rechargeMode" class="small m-wrap">
								<option value="1">线下转账</option>
								<!-- <option value="2">线下转账2</option> -->
							</select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">充值备注</label>
						<div class="controls">
							<textarea id="desc" class="medium m-wrap" rows="3"></textarea>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">温馨提示:</label>
						<div class="controls">
							<ol>
								<li>充值/提现必须为开通网上银行的借记卡，不支持存折、信用卡充值。</li>
								<li>充值成功后，可系统中查看充值状态以及可用金额。</li>
								<li>严禁信用卡套现、虚假交易等行为。</li>
							</ol>
						</div>
					</div>
					<div class="form-actions">
						<a id="rechargeBtn" class="btn blue"><i class="icon-ok"></i>确认提交</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
$(function(){
	$('#rechargeBtn').on('click',function(){
		var amount = $('#amount').val();
		var rechargeMode = $('#rechargeMode').val();
		var desc = $('#desc').val();
		if(amount == ""){
			ui_alert("alert-error","请输入充值金额");
	        return false;
		}else if(rechargeMode == ""){
			ui_alert("alert-error","请选择充值方式");
	        return false;
		}

		ajax_jquery({
	        url: apiUrl +'/business/account/recharge',
	        data:{
	        	'money': amount,
	        	'type': rechargeMode,
	        	'descr': desc
	        },
	        success:function(resp){
	            if (resp.code == "1" ) {
                    ui_alert("alert-success","充值成功");
                    setTimeout('window.location.reload()',1000);
	            }else{
	                if (typeof(resp.msg) == 'string') {
	                    ui_alert("alert-error",resp.msg);
	                    return false;
	                }
	            }
	        }
	    });
	})
})
</script>






{/block}