{extend name="base"/}
{block name="style"}
<link rel="stylesheet" type="text/css" href="/public/business/lib/metronic/css/select2_metro.css" />
<link rel="stylesheet" href="/public/business/lib/metronic/css/DT_bootstrap.css">
<style>
	html, body, .page-container, .page-content {
    height: inherit;
}
	.card {
		width: 300px;
		height: 230px;
		display: inline-block;
		/* border: 1px dashed #ddd; */
		background: url(/public/business/img/card_background.png) no-repeat;
		background-size: cover;
		position: relative;
	}
	.card_num{
		position: absolute;
		top: 62%;
		left: 15%;
		font-size: 16px;
	}
</style>
{/block}
{block name="body"}
<!--账户提现-->
<div class="row-fluid value">
	<div class="span12">
		<div class="portlet">
			<div class="portlet-title">
				<div class="caption">提现银行卡</div>
			</div>
			<div class="portlet-body">
				<div class="card"><span class="card_num">*** **** **** 6323</span></div>
				<div class="card"><span class="card_num">*** **** **** 6323</span></div>
			</div>
		</div>
		<div class="portlet">
			<div class="form-horizontal">
				<div class="portlet-title">
					<div class="caption">选择提现资产</div>
				</div>
				<div class="portlet-body">
					<table class="table table-striped table-bordered table-hover" id="table-withdraw">
						<thead>
						<tr>
							<th>
								<!-- <input type="checkbox" class="group-checkable" data-set="#table-withdraw .checkboxes"> -->
							</th>
							<th>订单编号</th>
							<th>订单金额</th>
							<th>业务类型</th>
							<th>申请时间</th>
							<th>放款时间</th>
							<th>提交人</th>
						</tr>
						</thead>
						<tbody>
							<tr class="odd gradeX">
								<td><input type="checkbox" class="checkboxes"></td>
								<td>10001</td>
								<td>￥<span class="order_amount">1000</span></td>
								<td>类型</td>
								<td>****-**-** **:**:**</td>
								<td>****-**-** **:**:**</td>
								<td>---</td>
							</tr>
							<tr class="odd gradeX">
								<td><input type="checkbox" class="checkboxes"></td>
								<td>10002</td>
								<td>￥<span class="order_amount">2000</span></td>
								<td>类型</td>
								<td>****-**-** **:**:**</td>
								<td>****-**-** **:**:**</td>
								<td>---</td>
							</tr>
							<tr class="odd gradeX">
								<td><input type="checkbox" class="checkboxes"></td>
								<td>10003</td>
								<td>￥<span class="order_amount">3000</span></td>
								<td>类型</td>
								<td>****-**-** **:**:**</td>
								<td>****-**-** **:**:**</td>
								<td>---</td>
							</tr>
							<tr class="odd gradeX">
								<td><input type="checkbox" class="checkboxes"></td>
								<td>10004</td>
								<td>￥<span class="order_amount">3000</span></td>
								<td>类型</td>
								<td>****-**-** **:**:**</td>
								<td>****-**-** **:**:**</td>
								<td>---</td>
							</tr>
							<tr class="odd gradeX">
								<td><input type="checkbox" class="checkboxes"></td>
								<td>10005</td>
								<td>￥<span class="order_amount">3000</span></td>
								<td>类型</td>
								<td>****-**-** **:**:**</td>
								<td>****-**-** **:**:**</td>
								<td>---</td>
							</tr>
							<tr class="odd gradeX">
								<td><input type="checkbox" class="checkboxes"></td>
								<td>10006</td>
								<td>￥<span class="order_amount">3000</span></td>
								<td>类型</td>
								<td>****-**-** **:**:**</td>
								<td>****-**-** **:**:**</td>
								<td>---</td>
							</tr>
							<tr class="odd gradeX">
								<td><input type="checkbox" class="checkboxes"></td>
								<td>10007</td>
								<td>￥<span class="order_amount">3000</span></td>
								<td>类型</td>
								<td>****-**-** **:**:**</td>
								<td>****-**-** **:**:**</td>
								<td>---</td>
							</tr>
						</tbody>
					</table>
					<div class="control-group">
					<label class="control-label">已选择金额</label>
					<div class="controls">
						<input class="m-wrap medium" id="amount" readonly type="text" placeholder="已选择金额">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">交易密码</label>
					<div class="controls">
						<input type="password" placeholder="password" class="m-wrap small" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">温馨提示:</label>
					<div class="controls">
						<ol>
							<li>----</li>
							<li>----</li>
						</ol>
					</div>
				</div>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn blue"><i class="icon-ok"></i>确认提现</button>
				</div>
			</div>
		</div>
	</div>
</div>
{/block}
{block name="script"}
<script src="/public/business/lib/metronic/js/select2.min.js"></script>
<script src="/public/business/lib/metronic/js/jquery.dataTables.js"></script>
<script src="/public/business/lib/metronic/js/DT_bootstrap.js"></script>
<script src="/public/business/js/table-managed.js"></script>
<script>
	jQuery(document).ready(function () {
		TableManaged.init();
		jQuery('#table-withdraw tbody').on('change','.checkboxes',function () {	
			var amount = '';
			$('#amount').val(amount);
            jQuery('#table-withdraw tbody .checkboxes').each(function () {      	
            	if($(this).is(":checked")){
	               var order_amount = $(this).parents('tr').find('.order_amount').text();
	               amount = Number(amount)+parseFloat(order_amount);
               }
            });
        	$('#amount').val(amount);
        });
	});
</script>
{/block}

