<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <meta http-equiv="pragma" content="no-cache">
    <title>VP贷-享全款的汽车分期</title>
    <link href="/public/wap/images/logo-ico.png" type="image/x-icon" rel="shortcut icon">
    <link rel="stylesheet" href="/public/wap/css/framework7.ios.css">
    <link rel="stylesheet" href="/public/wap/css/framework7.ios.colors.min.css">
    <link rel="stylesheet" type="text/css" href="/public/wap/css/my-app.css" media="all">   
    <link rel="stylesheet" type="text/css" href="/public/plugs/uploader/webuploader.css">
    <link rel="stylesheet" type="text/css" href="/public/plugs/uploader/style.css">
    <script type="text/javascript">
        var BASE_URL = ""; 
        var orderData = {};
        try {
            orderData = JSON.parse('{$orderDataStr}');
        } catch (e) {
            alert("数据异常");
        }         
    </script>
    <style type="text/css">
        .list-block .item-title.label {
            width: 28%;
        }
        .item-inner .item-icon{
            height: 24px;
        }
        .list-block .list-block-label {
            margin: 0;
            padding: 0 15px 6px;
            font-size: 14px;
            color: #838383
        }
        .label-radio.item-content {
            padding-right: 5%;
        }

        .filePicker2 .webuploader-pick {
            width: auto;
            margin-top : 0;
        }
        #uploader1 .placeholder {
            background: url('/public/wap/images/bg_borrowinfo.png') no-repeat top center;
        }

        #uploader2 .placeholder {
            height: 480px;
            background: url('/public/wap/images/bg_carinfo.png') no-repeat top center;
        }

        #uploader2 .placeholder .webuploader-pick {
            top: 410px;
        }

        .imgSample{
            padding-top: 20px;
            background: white;
            text-align: center;
        }
        #picker_car_pic_12 .webuploader-pick{
            width: 90%;
            padding: 13px 0;
            font-size: 16px;
            background: white;
            color: #ff9900;
            border: 1px solid #ff9900;
            margin: 10px auto;
        }
        
        /*  #filelist li:nth-child(1):before{
            content: "身份证";
        } */
    
    </style>
</head>
<body>   
    <div class="views">
        <div class="view view-main">
            <div class="navbar wb">
                <div class="navbar-inner">
                    <div class="left">
                        <a href="javascript:history.go(-1)" class="link icon-only back">
                            <i class="icon icon-back color-orange"></i>
                        </a>
                    </div>
                    <div class="center" id="navbar_title">垫资申请</div>
                    <div class="right"></div>
                </div>
            </div>
            <div class="pages navbar-through">
                <div class="page">                     
                <div class="page-content main-box">
                    <div class="main-box-body clearfix">
                    <div>
                        <form method="post" class="form form-horizontal">
                            <input type="hidden" name="id" value=""/>
                            <input type="hidden" name="type" id="type" value="1"/>
                            <div class="form-group">
                                <div class="uploaderwrap">
                                    <div class="uploader_title">
                                        <h4>请上传相关借款资料照片</h4>
                                    </div>
                                    <div id="uploader1" class="uploader">
                                        <div class="queueList">
                                            <div class="placeholder">
                                                <div id="uploader1FilePicker"></div> 
                                            </div>
                                        </div>
                                        <div class="statusBar" style="display:none;">
                                            <div class="progress">
                                                <span class="text">0%</span>
                                                <span class="percentage"></span>
                                            </div><div class="info"></div>
                                            <div class="btns"> 
                                                <div id="uploader1FilePicker2" class="filePicker2"></div>
                                                <div class="uploadBtn">开始上传</div>
                                            </div>
                                        </div>
                                    </div>   
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="list-block">
                                    <div class="list-block-label">请填写后续信息<br>可点击<span class="color-orange">身份证正面照</span>进行自动识别</div>
                                    <ul>
                                        <li>
                                            <div class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title label">贷款人姓名:</div>
                                                    <div class="item-input">
                                                        <input type="text" name="idcard_name" id="idcard_name" value=""/>
                                                    </div>
                                                    <div class="item-icon">
                                                        <img src="/public/wap/images/ico_edit.png" width="24" height="24" />
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                          <div class="item-content">
                                            <div class="item-inner">
                                              <div class="item-title label">身份证号:</div>
                                              <div class="item-input">
                                                <input type="text" name="idcard_num" id="idcard_num" value=""/>
                                              </div>
                                              <div class="item-icon">
                                                    <img src="/public/wap/images/ico_edit.png" width="24" height="24"/>
                                              </div>
                                            </div>
                                          </div>
                                        </li>
                                        <li>
                                          <div class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title label">贷款金额:</div>
                                                    <div class="item-input">
                                                        <input type="text" name="loan_limit" id="loan_limit" value=""/>
                                                    </div>
                                                    <div class="item-icon">
                                                        <img src="/public/wap/images/ico_edit.png" width="24" height="24"/>
                                                    </div>
                                                </div>
                                          </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="list-block">
                                    <div class="list-block-label">选择银行</div>
                                    <ul>       
                                        {volist name="bankList" id="bank"}  
                                        <li>
                                            <label class="label-radio item-content">
                                                <input type="radio" name="bank_name" value="{$bank.uid}">
                                                <div class="item-inner">
                                                    <div class="item-title">{$bank.addr}</div>
                                                </div>
                                            </label>
                                        </li>
                                        {/volist}
                                        <li>
                                            <label class="label-radio item-content">
                                                <input type="radio" name="bank_name" value="0">
                                                <div class="item-inner">
                                                    <div class="item-title">其他</div>
                                                </div>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group carinfo">
                                <div class="uploaderwrap">
                                    <div class="uploader_title">
                                        <h4>请上传相关车辆资料</h4>
                                    </div>
                                    <div id="uploader2" class="uploader">
                                        <div class="queueList">
                                            <div class="placeholder">
                                                <div id="uploader2FilePicker"></div> 
                                            </div>
                                        </div>
                                        <div class="statusBar" style="display:none;">
                                            <div class="progress">
                                                <span class="text">0%</span>
                                                <span class="percentage"></span>
                                            </div><div class="info"></div>
                                            <div class="btns"> 
                                                <div id="uploader2FilePicker2" class="filePicker2"></div>
                                                <div class="uploadBtn">开始上传</div>
                                            </div>
                                        </div>
                                    </div>   
                                </div>
                            </div>
                            <div class="form-group carinfo">
                                    <div class="list-block">
                                        <div id="fileList_car_pic_12_sample" class="imgSample">
                                            <video width="230" controls>
                                                <source src="/public/wap/images/sample/car_pic_12.mp4" type="video/mp4">
                                                您的浏览器不支持 video 标签。
                                            </video>
                                            <div id="picker_car_pic_12" class="picker_button">
                                            <span>上传车辆视频</span>   
                                        </div>
                                        </div>
                                        <input type="hidden" name="car_pic_12" id="field_car_pic_12" value="">
                                        <div id="fileList_car_pic_12" class="upload-file-list-info">
                                        </div>        
                                    </div>
                                </div>
                            </div>
                            <div class="form-group carinfo">
                                <div id="uploader" class="wu-example">
                                <!--用来存放文件信息-->
                                    <div id="thelist" class="uploader-list"></div>
                                    <div class="btns">
                                        <div id="picker">选择文件</div>
                                        <button id="ctlBtn" class="btn btn-default">开始上传</button>
                                    </div>
                                </div>

                            </div> 
                            <div class="content-block">
                                <a class="button button-big button-raised butcom-css bg-orange" id="submit">提交申请</a>
                            </div>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div id="dialog" class="dialog">
        <div id="dialogContent">
            <div id="dialogMain"></div>
        </div>
    </div>
    <div id="loading"></div>
    <script type="text/javascript" src="/public/wap/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/public/wap/js/framework7.min.js"></script>
    <script type="text/javascript" src="/public/wap/js/my-app.js"></script>
    <script type="text/javascript" src="/public/plugs/uploader/webuploader.min.js"></script>
    <script type="text/javascript" src="/public/plugs/uploader/uploader.js"></script>
    <script type="text/javascript" src="/public/wap/js/webuploader.custom.js"></script>
    <!-- <script type="text/javascript" src="/public/plugs/uploader/sortable.js"></script> -->
    <script type="text/javascript">
         picList = [
            {
                form_key:"borrow_pic_1",
                form_label:"身份证正面照"
            },
            {
                form_key:"borrow_pic_2",
                form_label:"身份证反面照"
            },
            {
                form_key:"borrow_pic_3",
                form_label:"驾驶证正副本"
            },
            {
                form_key:"borrow_pic_4",
                form_label:"放款通知单"
            },
            {
                form_key:"borrow_pic_5",
                form_label:"首付凭证"
            },
            {
                form_key:"borrow_pic_6",
                form_label:"购车发票"
            },
            {
                form_key:"borrow_pic_7",
                form_label:"车辆合格证"
            },
            {
                form_key:"borrow_pic_8",
                form_label:"车辆保单"
            },
            {
                form_key:"borrow_pic_9",
                form_label:"借款合同"
            }];
        // $('#container').on('click',function(){
        //     var container = document.getElementById("filelist");
        //      Sortable.create(container);   
        // });    
        var uploader_video = WebUploader.create({

    // swf文件路径
            swf: '/public/plugs/uploader/Uploader.swf',

            // 文件接收服务端。
            server: '/mobile/files/upload.html',

            // 选择文件的按钮。可选。
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick: '#picker',

            // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
            resize: false,
            formData:{
                order_id:orderData.id,
                fileType:'video'
            }

        });





        function tryOCR(id,type){
            if(type != 'idcard_face'){
                return;
            }
            ajax_jquery({
                type: 'post',
                url: '/mobile/open/tryOCR',
                datatype: 'json',
                data: {
                    "id": id
                },
                success: function(data){
                    if(data.code == 1){
                        $('#idcard_name').val(data.data.name);
                        $('#idcard_num').val(data.data.idcard_num);
                    }else{
                        if (typeof(data.msg) == 'string') {
                            ui_alert(data.msg);
                        }
                    }
                }
            });
        };
        
        $("#uploader1").on("click","img",function(){
            var idcard = $(this).parent().parent('li').attr("value");
            if( idcard ){
                tryOCR(idcard,'idcard_face');
            }
            else{
                ui_alert('请上传照片');
            }
        });

        $(function(){
            var modal = myApp.modal({
                title: 'VP贷-享全款的汽车分期',
                text: '请选择订单类型',
                verticalButtons: true,
                buttons: [
                   {
                        text: '新车垫资',
                        onClick: function () {
                            $("#type").val(1);
                            $("#navbar_title").text('垫资申请-新车');
                            $(".carinfo").hide();
                        }
                    },
                    {
                        text: '二手车垫资',
                        onClick: function () {
                            $("#type").val(2);
                            $("#navbar_title").text('垫资申请-二手车');
                         }
                    }]
                });

        sentUploader({
            wrap:'#uploader1',
            formData:{
                order_id:orderData.id,
                fileType:'image'
            },
            fileNumLimit: 9,
			keyList: picList
        });

        sentUploader({
            wrap:'#uploader2',
            formData:{
                order_id:orderData.id,
				fileType:'image'
            },
            fileNumLimit: 11,
			accept: {
                title: 'Image',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/*'
            }
        });
	
		// sentUploader({
  //           wrap:'#picker_car_pic_12',
  //           formData:{
  //               order_id:orderData.id,
		// 		fileType:'video',
		// 		form_key:"car_info_video",
		// 		form_label:"二手车视频"
  //           },
  //           fileNumLimit: 1,
		// 	accept: {
  //               title: 'Video',
  //               extensions: 'mp4,mkv,avi,3gp,mov,mpg,rmvb,flv',
  //               mimeTypes: 'video/*'
  //           }
  //       });


            $("#picker_car_pic_12").SentUploader({
                fileNumLimit:1,
                uploadEvents: {
                    uploadComplete:function(file){
                        if(file.type.substring(0,6) == "video/"){
                            $("#fileList_car_pic_12_sample").hide();
                        }
                    }
                },
                successFunc:function(response){
                        if(response.info.path){
                             videoHtmlStr =  '<video autoplay="autoplay">\
                                            <source src="'+response.info.path+'" type="video/mp4">\
                                            您的浏览器不支持 video 标签。\
                                        </video>';
                            setTimeout(function(){
                                 $("#fileList_car_pic_12 > li > div.filebox").html(videoHtmlStr);
                            }, 1000);     
                        }
                    },
                listName : 'fileList_car_pic_12',
                hiddenName: 'field_car_pic_12',
                hiddenValType:1,
                fileSingleSizeLimit:20*1024*1024,
                closeX:true,
                compress:{
                    width: 1024,
                    quality: 90,
                    allowMagnify: false,
                    crop: false,
                    preserveHeaders: true,
                    noCompressIfLarger: false,
                    compressSize: 0
                }
            },
            {
                fileType: 'video'
            });

            


            $("#submit").click(function(){       
                var type= $("#type").val();
                // var mobile = $('#mobile').val();//todo
                var bank_uid = $('input[name="bank_name"]').filter(':checked').val();
                if(bank_uid == undefined){
                    ui_alert('请选择银行','');
                    return;
                }

                if( $('#uploader1  .filelist > li[value]').length < 9) {
                    ui_alert("照片信息不完整，请补充上传");
                    return;
                }

                var loan_limit = $('#loan_limit').val();//todo
                var idcard_name = $('#idcard_name').val();
                var idcard_num = $('#idcard_num').val();
                 ajax_jquery({
                    type: 'post',
                    url: '/mobile/order/borrow',
                    datatype:'json',
                    data: {
						'id':orderData.id,
                        'type':type,
                        'name':idcard_name,
                        'bank_uid': '',
                        'idcard_num':idcard_num,
                        'loan_limit':loan_limit,
                        'idcard_face_pic':'',
                        'idcard_back_pic':'',
                        'driving_lic_pic':'',
                        'status':0,
                        'addr':'',
                        'descr':'',
                        'mobile':''
                    },
                    success: function(data) { // data 保存提交后返回的数据，一般为 json 数据
                        if(data.code == 1){
                            ui_alert("新增订单成功!", function () {
                                 window.location.href = '/mobile' ;            
                             });
                        }else{
                            if (typeof(data.msg) == 'string') {
                                ui_alert(data.msg);
                            }  
                        }
                    }
                }); 
            });
        });
    </script>  

</body>
</html>