<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <meta http-equiv="pragma" content="no-cache">
    <title>VP贷</title>
    <link href="/Public/wap/images/logo-ico.png" type="image/x-icon" rel="shortcut icon">
    <link rel="stylesheet" href="/Public/wap/css/framework7.ios.css">
    <link rel="stylesheet" href="/Public/wap/css/framework7.ios.colors.min.css">
    <link rel="stylesheet" type="text/css" href="/Public/wap/css/my-app.css" media="all">	
	<link rel="stylesheet" type="text/css" href="/public/plugs/webuploader/webuploader.css">
    <script type="text/javascript" src="/Public/wap/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript">
		var BASE_URL = ""; //根目录地址
	</script>

	<style type="text/css">
		.size-25 { font-size: 25px }
		.main-box { 
			margin-top: 16px  
		}
		.main-box-title {margin-left: 6px}
		a{text-decoration: none;}
		.sampleImg img{
			height: 150px;
			width: 210px;
		}
		.popup-overlay.modal-overlay-visible, 
		.preloader-indicator-overlay.modal-overlay-visible {
			opacity: 0;
		}
		.main-content{
			margin: 10px auto;
			text-align: center; 
		}
		.idcard{
			margin: 10px auto;
		}
		h4{
			margin: 6px auto;
		}
		.main-box-body{
			margin: 4px 16px;
		}
		.imgSample{
			margin: 0 auto;
			width: 100%;
			text-align: center;
		}
		.imgSample img{
			margin: 0 auto;
			width: 100%;
		}
		.webuploader-pick {
			background: #1A81FF;
			width: 90%;
			margin-top:5px;
			color:white;
		}
		.filebox.image img{
			width: 100%;
		}
		.picker_button{
			width:100%;
		}

	</style>
</head>
<body>
    
    <div class="views">
        <div class="view view-main">
            <div class="navbar wb">
                <div class="navbar-inner">
                    <div class="left">
                        <a href="javascript:history.go(-1)" class="link icon-only back">
                            <i class="icon icon-back"></i>
                        </a>
                    </div>
                    <div class="center blue-color">{$title}</div>
                </div>
            </div>
            <div class="pages navbar-through">
                <div data-page="dqassess" class="page">						
				<div class="page-content main-box clearfix">
                    <div class="main-box-title">
                        <h4 class="col-lg-8 color-black">请拍摄并上传贷款人的有效二代身份证和驾驶证</h4>
                    </div>
                    <div class="main-box-body clearfix">
                    <div>
                        <form method="post" class="form form-horizontal">
                            <input type="hidden" name="id" value=""/>
                            <input type="hidden" name="loan_limit" value="200000"/>
                                <!-- <div class="form-group">
                                <label class="col-lg-2 control-label">贷款额度</label>
                                    <div class="col-lg-10 col-sm-10">
                                        <select class="form-control" name="loan_limit" id="loan_limit" style="width:auto;">
                                            <option value="1" >20万（含）以内</option>
                                            <option value="2" >20-50万</option>
                                            <option value="3" >50万以上</option>
                                        </select>
                                    <div class="help-block"></div>
                                    </div>
                                </div> -->
                            <div class="form-group">
                                <label class="col-lg-2 control-label">身份证正面</label>          
                                <div class="col-lg-10 col-sm-10">
                                    <div class="picker-box">
                                        <div id="idcardFace" class="imgSample">
                                            <img src="/public/wap/images/idcardface.png">
                                        </div>
                                        <input type="hidden" name="idcard_face_pic" id="field_idcard_face_pic" value="">
                                        <div id="fileList_idcard_face_pic" class="upload-file-list-info">
                                        </div>
                                        <div id="picker_idcard_face_pic" class="picker_button">上传身份证正面照片</div>
                                    </div>
                                    <script type="text/javascript">
                                        uploadsize =  2;
                                        $(function(){
                                            $("#picker_idcard_face_pic").SentUploader({
                                                    fileNumLimit:1,
                                                    uploadEvents: {
                                                        uploadComplete:function(file){
                                                            $('#idcardFace').hide();
                                                        }
                                                    },
                                                    listName : 'fileList_idcard_face_pic',
                                                    hiddenName: 'field_idcard_face_pic',
                                                    hiddenValType:1,
                                                    fileSingleSizeLimit:uploadsize*1024*1024,
                                                    closeX:true
                                                },
                                                {
                                                    fileType: 'service',
                                                    filename : 'images',
                                                });
                                            $(".webuploader-pick-file-close").on('click',function(){
												$('#idcardFace').show();
                                            });
                                        });

                                    </script>                   
                                    <div class="help-block"></div>
                                </div>
                            </div>
							<hr/>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">身份证反面</label>
                                <div class="col-lg-10 col-sm-10">
                                    <div class="picker-box">
                                        <div id="idcardBack" class="imgSample">
                                                <img src="/public/wap/images/idcardback.png">
                                        </div>
                                        <input type="hidden" name="idcard_back_pic" id="field_idcard_back_pic" value="">
                                        <div id="fileList_idcard_back_pic" class="upload-file-list-info" style="width:280px;">
                                        </div>
                                         <div id="picker_idcard_back_pic" class="picker_button">上传身份证反面照片</div>
                                    </div>
                                    <script type="text/javascript">
                                        uploadsize =  2;
                                        $(function(){
                                            $("#picker_idcard_back_pic").SentUploader({
                                                    fileNumLimit:1,
                                                    uploadEvents: {
                                                        uploadComplete:function(file){}
                                                    },
                                                    listName : 'fileList_idcard_back_pic',
                                                    hiddenName: 'field_idcard_back_pic',
                                                    hiddenValType:1,
                                                    fileSingleSizeLimit:uploadsize*1024*1024,
                                                    closeX:true
                                                },
                                                {
                                                    fileType: 'service',
                                                    filename : 'images',
                                                });
                                        });
                                    </script>                  
                                    <div class="help-block"></div>
                                </div>
                            </div>
							<hr/>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">驾驶证照片</label>
                                <div class="col-lg-10 col-sm-10">
                                    <div class="picker-box">
                                        <div id="divingLic" class="imgSample">
                                            <img src="/public/wap/images/drivingLic.png">
                                        </div>
                                        <input type="hidden" name="driving_lic_pic" id="field_driving_lic_pic" value="">
                                        <div id="fileList_driving_lic_pic" class="upload-file-list-info" style="width:280px;">
                                        </div>
                                        <div id="picker_driving_lic_pic" class="picker_button">上传图片</div>
                                    </div>
                                    <script type="text/javascript">
                                        uploadsize =  2;
                                        $(function(){
                                            $("#picker_driving_lic_pic").SentUploader({
                                                    fileNumLimit:1,
                                                    uploadEvents: {
                                                        uploadComplete:function(file){
                                                            $('#drivingLic').hide();
                                                        }
                                                    },
                                                    listName : 'fileList_driving_lic_pic',
                                                    hiddenName: 'field_driving_lic_pic',
                                                    hiddenValType:1,
                                                    fileSingleSizeLimit:uploadsize*1024*1024,
                                                    closeX:true
                                                },
                                                {
                                                    fileType: 'service',
                                                    filename : 'images',
                                                });
                                        });
                                    </script>                   
                                    <div class="help-block"></div>
                                </div>
                            </div>
							<hr/>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">贷款人手机</label>
                                <div class="col-lg-10 col-sm-10">
                                    <input type="text" class="form-control" name="mobile" id="mobile" autocomplete="false" value="">
                                <div class="help-block">可选，仅供通知之用</div>
                                </div>
                            </div>
							<hr/>							
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <input type="hidden" name="id" value="">            
                                    <button class="btn btn-success submit-btn ajax-post" type="submit" target-form="form-horizontal">确 定</button>
                                    <button class="btn btn-danger btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
  	<div id="dialog" class="dialog">
        <div id="dialogContent">
            <div id="dialogMain"></div>
        </div>
    </div>

    <div id="loading"></div>

    <script type="text/javascript" src="/Public/wap/js/framework7.min.js"></script>
    <script type="text/javascript" src="/Public/wap/js/my-app.js"></script>

	<script type="text/javascript" src="/public/plugs/webuploader/webuploader.min.js"></script>
	<script type="text/javascript" src="/Public/wap/js/webuploader.custom.js"></script>

<script type="text/javascript">

$(function(){
 /*   var a = "3000-10000";
    var b = "1000-5000";
    $("#a").html(a);
    $("#b").html(b);
	*/
});
/*
$('#uploadFile').localResizeIMG({
    width: 480,
    success: function (result) {
    	$("#loading").show();
    	
        var img = new Image();
        img.src = result.base64;
      
        $('#myAvatar').html(img);
        var img_v = result.clearBase64;
        //开始上传文件
        var param = {
            "picFile": img_v,
        };
        ajax_jquery({
            url: appPath + '/UserInfo/ajax_set_avatar?t=' + Math.random(),
            data: param,
            async: true,
            success: function (resp) {
                if (resp.status == "1" && resp.error == "00000000") {
                    ui_alert("上传头像成功!");
                }else{
                    ajaxAlertMsg(resp);
                }
            }
        });
        return false;
    }
});*/
</script>

</body>
</html>