<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <meta http-equiv="pragma" content="no-cache">
    <title>VP贷-享全款的汽车分期</title>
    <link href="/public/wap/images/logo-ico.png" type="image/x-icon" rel="shortcut icon">
    <link rel="stylesheet" href="/public/wap/css/framework7.ios.css">
    <link rel="stylesheet" href="/public/wap/css/framework7.ios.colors.min.css">
    <link rel="stylesheet" type="text/css" href="/public/wap/css/my-app.css" media="all">   
    <style type="text/css">
        .QRCode {
            margin: 30px auto 50px;
            width: 300px;
            height: 300px;
        }
        .QRCode img {
            width: 100%;
        }
    </style>
</head>
<body>   
    <div class="views">
        <div class="view view-main">
            <div class="navbar wb">
                <div class="navbar-inner">
                    <div class="left">
                        <a href="javascript:history.go(-1)" class="link icon-only back">
                            <i class="icon icon-back color-orange"></i>
                        </a>
                    </div>
                    <div class="center" id="navbar_title">垫资申请</div>
                    <div class="right"></div>
                </div>
            </div>
            <div class="pages navbar-through">
                <div class="page">                     
                    <div class="page-content">
                        <form class="list-block mt10">
                            <ul class="clearfix">
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner register-inner">
                                            <div class="item-title label">购车价格</div>
                                            <div class="item-input">
                                                <input type="number" id="carPrice" name="carPrice" value="" maxlength="8" placeholder="请输入购车价格">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner register-inner">
                                            <div class="item-title label">用户手机</div>
                                            <div class="item-input register-inner">
                                                <input type="number" id="mobile" name="mobile" maxlength="11" placeholder="请输入借款人手机号" />
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="QRCode">
                                <img class="QRCodeImg" src="">
                            </div>
                            <div class="content-block">                                 
                                <button type="button" id="submit" class="button button-big button-fill dpblue" style="width:100%">录入客户信息</button>
                            </div>
                        </form>
                    </div>
            </div>
            </div>
        </div>
    </div>
    <div id="dialog" class="dialog">
        <div id="dialogContent">
            <div id="dialogMain"></div>
        </div>
    </div>
    <div id="loading"></div>
    <script type="text/javascript" src="/public/wap/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/public/wap/js/framework7.min.js"></script>
    <script type="text/javascript" src="/public/wap/js/my-app.js?v=1"></script>
    <script type="text/javascript" src="/Public/wap/js/order.js"></script>
    <script type="text/javascript">    
        $(function(){
            $("#submit").click(function(){     
                var carPrice = $('#carPrice').val();
                var mobile = $('#mobile').val();
                
                if( carPrice == ""){
                    ui_alert('请输入购车价格');
                    return;
                }else if (mobile == "") {
                    ui_alert('请输入借款人手机号');
                    return;
                }else if (!validatePhoneNumber(mobile)) {
                    ui_alert('手机号输入有误');
                    return;
                }
                ajax_jquery({
                    url: apiUrl + '/api/order/add',
                    data: {
                        'type': 1,
						'price': carPrice,
                        'mobile': mobile
                    },
                    success: function(resp) { 
                        if(resp.code == 1){
                            ui_alert("订单创建成功!<br>请扫码进行客户授信");
                            var sn = resp.data.sn;
                        }else{
                            if (typeof(resp.msg) == 'string') {
                                ui_alert(resp.msg);
                            }  
                        }
                        if(sn){
                            ajax_jquery({
                                url: apiUrl + '/api/order/getQRCode',
                                data: {
                                    'sn':sn 
                                },
                                success: function(resp) { 
                                    if(resp.code == 1){
                                        $(".QRCodeImg").attr('src',resp.data.url); 
                                    }else{
                                        if (typeof(resp.msg) == 'string') {
                                            ui_alert(resp.msg);
                                        }  
                                    }
                                }
                            }); 
                        }
                    }
                }); 
            });
        });
    </script>  

</body>
</html>