<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <meta http-equiv="pragma" content="no-cache">
    <title>VP贷-享全款的汽车分期</title>
    <link href="/public/wap/images/logo-ico.png" type="image/x-icon" rel="shortcut icon">
    <link rel="stylesheet" href="/public/wap/css/framework7.ios.css">
    <link rel="stylesheet" href="/public/wap/css/framework7.ios.colors.min.css">
    <link rel="stylesheet" type="text/css" href="/public/wap/css/my-app.css" media="all">
</head>
<body>
    
    <div class="views">
        <div class="view view-main">
            <div class="navbar wb">
                <div class="navbar-inner">
                    <div class="left">
                        <a href="javascript:history.go(-1)" class="link icon-only back">
                            <i class="icon icon-back"></i>
                        </a>
                    </div>
                    <div class="center blue-color">进度查询</div>
                    <div class="right">
                        <a href="/index.php/User/Message/new-message-center.html" class="link icon-only">
                        </a>
                    </div>
                </div>
            </div>
            <div class="pages navbar-through">
                <div data-page="dqassess" class="page">				
                    <div class="page-content wb">
                        <div class="progress">
						         <div class="no-result">
                                    <img src="/public/wap/images/progress.png"/>
                                    <p>暂无进度查询</p>
                                </div>
						<!--
                            <ul>
                                    <li>
                                            <div class="circle">
                                                <i></i>
                                            </div>
                                            <div class="group-time">
                                                2016-11-20 10:43:23                                            </div>
                                            <div class="group-content">
                                                <h2>审核中</h2>
                                                <p>系统正在争分夺秒的审核您的资料，请耐心等待。</p>
                                            </div>
                                        </li><li>
                                            <div class="circle">
                                                <i></i>
                                            </div>
                                            <div class="group-time">
                                                2016-11-20 10:41:23                                            </div>
                                            <div class="group-content">
                                                <h2>待审核</h2>
                                                <p>您的借款申请预计在一个工作日内审核完成，完善资料能够提升审核速度。</p>
                                            </div>
                                        </li><li>
                                            <div class="circle">
                                                <i></i>
                                            </div>
                                            <div class="group-time">
                                                2016-11-20 10:39:23                                            </div>
                                            <div class="group-content">
                                                <h2>申请成功</h2>
                                                <p>系统已接收您的申请，正在发送至审核中心。</p>
                                            </div>
                                        </li><li>
                                            <div class="circle">
                                                <i></i>
                                            </div>
                                            <div class="group-time">
                                                2016-11-20 10:37:23                                            </div>
                                            <div class="group-content">
                                                <h2>提交成功</h2>
                                                <p>您已成功提交申请，请等待系统确认。</p>
                                            </div>
                                        </li>
								</ul>
								-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="loading"></div>
    <script type="text/javascript" src="/public/wap/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/public/wap/js/framework7.min.js"></script>
    <script type="text/javascript" src="/public/wap/js/my-app.js"></script>
    
</body>
</html>