<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <meta http-equiv="pragma" content="no-cache">
    <title>VP贷-享全款的汽车分期</title>
    <link href="/public/wap/images/logo-ico.png" type="image/x-icon" rel="shortcut icon">
    <link rel="stylesheet" href="/public/wap/css/framework7.ios.css">
    <link rel="stylesheet" href="/public/wap/css/framework7.ios.colors.min.css">
    <link rel="stylesheet" type="text/css" href="/public/wap/css/my-app.css" media="all">
    <script>
		var BASE_URL = ""; //根目录地址
    </script>
	<style type="text/css">
	.main-box-title{
		text-align:center;
	}
	.content-block{
		margin: 5px 0;
		padding: 4px  16px;
	}
	.imgSample{
		width: 90%;
		margin:0 auto;
	}
	.imgSample img{
		width:100%;	
	}
	</style>
</head>
<body>   
    <div class="views">
        <div class="view view-main">
            <div class="navbar wb">
                <div class="navbar-inner">
                    <div class="left">
                        <a href="javascript:history.go(-1)" class="link icon-only back">
                            <i class="icon icon-back color-orange"></i>
                        </a>
                    </div>
                    <div class="center blue-color">查看订单</div>
                    <!--<div class="right">
                        <a href="javascript:toUserMessage();" class="link icon-only ">
                            <img src="/public/wap/images/message.png" height="40%"/>
                        </a>
                    </div>-->
                </div>
            </div>
            <div class="pages navbar-through">
                <div data-page="dqassess" class="page">						
					<div class="page-content main-box clearfix">
						<div class="main-box-title">
							<h4 class="color-black">贷款人信息及证件照</h4>
						</div>
						<div class="content-block row bg-white no-gutter">
							<div class='col-30'>姓名</div>
							<div class='col-60'>{$info['name']}</div>
						</div>
						<div class="content-block row bg-white no-gutter">
							<div class='col-30'>身份证号</div>
							<div class='col-60'>{$info['idcard_num']}</div>
						</div>
						<div class="content-block row bg-white no-gutter">
							<div class='col-30'>贷款额度</div>
							<div class='col-60'>{$info['loan_limit']}</div>
						</div>
						<div class="content-block row bg-white no-gutter">
							<div class='col-30'>联系方式</div>
							<div class='col-60'>{$info['mobile']}</div>
						</div>
						<div class="content-block row bg-white no-gutter">
							<div class='col-30'>订单状态</div>
							<div class='col-60'>
									{if isset($info['status'])}
										{if $info['status'] == 1}
											<span class="blue-color">审核通过</span>
										{elseif $info['status'] == 2/}
											<span class="red">审核未通过</span>	
										{else /}
											<span class="blue-color">审核中</span>
										{/if}
									{/if}
							</div>
						</div>
						<div class="content-block row bg-white no-gutter">
							<div class='col-30'>申请时间</div>
							<div class='col-60'>{$info['create_time'|date='Y-m-d H:i',###]}</div>
						</div>
						<div class="content-block row bg-white no-gutter">
							<div class='col-30'>订单类型</div>
							<div class='col-60'>{if $info['type'] == 1/}新车垫资{elseif $info['type'] == 2/}二手车垫资{/if}</div>
						</div>
						 <div class="content-block row bg-white no-gutter">
							<div class='col-30'>面签地址</div>
							<div class='col-60'>{$info['addr']}</div>
						</div>
						<div class="content-block-title">身份证正面照</div>
						<div class="content-block">
						  <div class="content-block-inner">
								<div class="picker-box">
									<div class="imgSample">
									{php}
										$idcard_face_pic = get_order_files($info['idcard_face_pic']);
									{/php}
									<img src="{$idcard_face_pic['path']|default=''}" />
									</div>
								</div>
						  </div>
						</div>
						<div class="content-block-title">身份证反面照</div>
						<div class="content-block">
						  <div class="content-block-inner">
								<div class="picker-box">
									<div class="imgSample">
									{php}
										$idcard_back_pic = get_order_files($info['idcard_back_pic']);
									{/php}
									<img src="{$idcard_back_pic['path']|default=''}" />
									</div>
								</div>
						  </div>
						</div>
						<div class="content-block-title">驾驶证正副页</div>
						<div class="content-block">
							<div class="content-block-inner">
								<div class="picker-box">
									<div id="fileList_driving_lic_pic_sample" class="imgSample">
									{php}
										$driving_lic_pic = get_order_files($info['driving_lic_pic']);
									{/php}
									<img src="{$driving_lic_pic['path']|default=''}" />
									</div>
								</div>
							</div>
						</div>
						{include file="/order/viewsupplement"}
					
						{if isset($info['status'])}
							{if $info['status'] == 0}
							<div class="content-block">
								<a class="button button-big button-raised butcom-css bg-red" href="javascript:hideOrder({$info['id']},1)">撤销订单</a>
							</div>
							{elseif $info['status'] == 2/}
							<div class="content-block">
								<a class="button button-big button-raised butcom-css dpblue" href="javascript:goToUrl('/mobile/order/supplement?id={$info['id']}')">补充资料</a>
							</div>	
							{else /}
							{if $info['type'] == 2}
							<div class="content-block">
								<a class="button button-big button-raised butcom-css dpblue" href="javascript:goToUrl('/mobile/order/carinfo?id={$info['id']}')">上传车辆资料</a>
							</div>
							{/if}
							<div class="content-block">
								<a class="button button-big button-raised butcom-css dpblue" href="javascript:goToUrl('/mobile/order/extend?id={$info['id']}')">上传首付资料</a>
							</div>
							{/if}
						{/if}
							
					</div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/public/wap/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/public/wap/js/framework7.min.js"></script>
    <script type="text/javascript" src="/public/wap/js/my-app.js"></script>
    <script type="text/javascript" src="/public/wap/js/order.js"></script>
</body>
</html>