<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <meta http-equiv="pragma" content="no-cache">
    <title>VP贷-享全款的汽车分期</title>
    <link href="/public/wap/images/logo-ico.png" type="image/x-icon" rel="shortcut icon">
    <link rel="stylesheet" href="/public/wap/css/framework7.ios.css">
    <link rel="stylesheet" href="/public/wap/css/framework7.ios.colors.min.css">
    <link rel="stylesheet" type="text/css" href="/public/wap/css/my-app.css" media="all">
    <script>
		var BASE_URL = ""; //根目录地址
        var imgList = {};
        //for(var index = 0)
        {volist name="files" id="file"}
            {if isset($file['form_key'])}
            imgList["{$file['form_key']}"] = {};
            imgList["{$file['form_key']}"].src = "{$file['path']|default=''}";
            imgList["{$file['form_key']}"].label = "{$file['form_label']|default=''}";
            imgList["{$file['form_key']}"].key = "{$file['form_key']}";
            {/if}
        {/volist}
		
        var picList = [];
        picList[0] = [
            {
                form_key:"carloan_loaner_1",
                form_label:"身份证正面照片"
            },
            {
                form_key:"carloan_loaner_2",
                form_label:"身份证反面照片"
            },
            {
                form_key:"carloan_loaner_3",
                form_label:"行驶证正副本"
            },
            {
                form_key:"carloan_loaner_4",
                form_label:"机动车登记证1"
            },
            {
                form_key:"carloan_loaner_5",
                form_label:"机动车登记证2"
            }];
        picList[1] = [
            {
                form_key:"carloan_carinfo_1",
                form_label:"含车牌车头照"
            },
            {
                form_key:"carloan_carinfo_2",
                form_label:"含车牌车尾照"
            },
            {
                form_key:"carloan_carinfo_3",
                form_label:"内饰照"
            },
            {
                form_key:"carloan_carinfo_4",
                form_label:"仪表盘照片"
            },
            {
                form_key:"carloan_carinfo_5",
                form_label:"风挡VIN照"
            }];
        picList[2] = [
            {
                form_key:"carloan_contract_1",
                form_label:"质押借款合同1"
            },
            {
                form_key:"carloan_contract_2",
                form_label:"质押借款合同2"
            },
            {
                form_key:"carloan_contract_3",
                form_label:"车辆交易委托书"
            },
            {
                form_key:"carloan_contract_4",
                form_label:"车辆买卖合同1"
            },
            {
                form_key:"carloan_contract_5",
                form_label:"车辆买卖合同2"
            },
            {
                form_key:"carloan_contract_6",
                form_label:"借条"
            }];



    </script>
	<style type="text/css">
    	.main-box-title{
    		text-align:center;
    	}
    	.content-block{
    		margin: 5px 0;
    		padding: 4px  16px;
    	}
        .swiper-slide {
          background: #fff;
          box-sizing: border-box;
          border: 1px solid #ccc;
        }        
        .swiper-container {
          height: 120px;
        }
        .photo-browser-swiper-container{
            padding: 15% 0;
            height: 80%;
        }
        .swiper-container-horizontal > .swiper-pagination {
          bottom: 6px;
        }
		.swiper-slide{line-height: 116px;}
		.swiper-slide img {vertical-align: middle;}
	</style>

</head>
<body>   
    <div class="views">
        <div class="view view-main">
            <div class="navbar wb">
                <div class="navbar-inner">
                    <div class="left">
                        <a href="javascript:history.go(-1)" class="link icon-only back">
                            <i class="icon icon-back color-orange"></i>
                        </a>
                    </div>
                    <div class="center">查看订单</div>
                    <!--<div class="right">
                        <a href="javascript:toUserMessage();" class="link icon-only ">
                            <img src="/Public/wap/images/message.png" height="40%"/>
                        </a>
                    </div>-->
                </div>
            </div>
            <div class="pages navbar-through">
                <div data-page="dqassess" class="page">						
					<div class="page-content main-box clearfix">
						<div class="main-box-title">
							<h4 class="color-black">借款人证件及质押信息</h4>
						</div>
						<div class="content-block row bg-white no-gutter">
							<div class='col-30'>姓名</div>
							<div class='col-60'>{$info['name']}</div>
						</div>
						<div class="content-block row bg-white no-gutter">
							<div class='col-30'>身份证号</div>
							<div class='col-60'>{$info['idcard_num']}</div>
						</div>
						<div class="content-block row bg-white no-gutter">
							<div class='col-30'>借款金额</div>
							<div class='col-60'>{$info['loan_limit']}</div>
						</div>
						<div class="content-block row bg-white no-gutter">
							<div class='col-30'>联系方式</div>
							<div class='col-60'>{$info['mobile']}</div>
						</div>
						<div class="content-block row bg-white no-gutter">
							<div class='col-30'>订单状态</div>
							<div class='col-60'>
									{if isset($info['status'])}
										{if $info['status'] == 1}
											<span class="blue-color">审核通过</span>
										{elseif $info['status'] == 2/}
											<span class="red">审核未通过</span>	
										{else /}
											<span class="blue-color">审核中</span>
										{/if}
									{/if}
							</div>
						</div>
						<div class="content-block row bg-white no-gutter">
							<div class='col-30'>申请时间</div>
							<div class='col-60'>{$info['create_time'|date='Y-m-d H:i',###]}</div>
						</div>
						<div class="content-block row bg-white no-gutter">
							<div class='col-30'>订单类型</div>
							<div class='col-60'>车抵贷订单</div>
						</div>

                	    <div class="content-block-title">借款人证件资料</div>
                        <div class="swiper-container swiper-3" id="swiper0" data-index="0">
                            <div class="swiper-pagination"></div>
                            <div class="swiper-wrapper">
                            </div>
                        </div>
                         <div class="content-block-title">车辆资料</div>
                        <div class="swiper-container swiper-3" id="swiper1" data-index="1">
                            <div class="swiper-pagination"></div>
                            <div class="swiper-wrapper">                        
                            </div>
                        </div>
                        <div class="content-block-title">借款合同</div>
                        <div class="swiper-container swiper-3" id="swiper2" data-index="2">
                            <div class="swiper-pagination"></div>
                            <div class="swiper-wrapper">              
                            </div>
                        </div>			
						{if isset($info['status'])}
							{if $info['status'] == 0}
							<!--<div class="content-block">
								<a class="button button-big button-raised butcom-css dpblue" href="javascript:goToUrl('/mobile/order/carloan?id={$info['id']}')">编辑订单</a>
							</div>-->
							<div class="content-block">
								<a class="button button-big button-raised butcom-css bg-red" href="javascript:hideOrder({$info['id']},'3')">撤销订单</a>
							</div>
							{elseif $info['status'] == 2/}
							<!--<div class="content-block">
								<a class="button button-big button-raised butcom-css bg-red" href="javascript:goToUrl('/mobile/order/carloan?id={$info['id']}')">编辑订单</a>
							</div>-->
							{/if}
						{/if}
					</div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/public/wap/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/public/wap/js/framework7.min.js"></script>
    <script type="text/javascript" src="/public/wap/js/my-app.js"></script>
    <script type="text/javascript" src="/public/wap/js/order.js"></script>
    <script type="text/javascript">
        var photoBrowserParam = [];
        var myPhotoBrowser = [];

        //Swiper Slider 初始化
        // var mySwiper = myApp.swiper('.swiper-3', {
        //     pagination:'.swiper-3 .swiper-pagination',
        //     spaceBetween: 10,
        //     slidesPerView: 3
        // });
        
        for (var i in picList) {
            var tempList = picList[i];
            var param = [];
            var swiperHtmlStr = ''
            for (var j = 0; j < tempList.length; j++) {
                var key = tempList[j].form_key;
                if(typeof(imgList[key])=='object'){
                    //<div class="swiper-slide"><img src="" /></div>
                    swiperHtmlStr += '<div class="swiper-slide"><img src="' + imgList[key].src + '" /></div>'
                   // $("#swiper"+i+" img").eq(j).attr('src',imgList[key].src);
                    param[j] ={
                        url: imgList[key].src,
                        caption: imgList[key].label
                    };
                }
            }
            $("#swiper"+i+" > .swiper-wrapper").html(swiperHtmlStr);
            myPhotoBrowser[i] = myApp.photoBrowser({
                photos : param,
                theme: 'dark',
                type: 'popup',
                backLinkText: ' ',
                lazyLoading: true,
                lazyLoadingInPrevNext: true
            });
        };
        myApp.swiper('.swiper-3', {
            pagination:'.swiper-3 .swiper-pagination',
            spaceBetween: 10,
            slidesPerView: 3
        });
        $('div.swiper-3').on('click','div.swiper-slide',function(ev){ //浏览点击的图片

            var num = $(this).index();
            var index = $(ev.delegateTarget).attr("data-index");
            myPhotoBrowser[index].open(num);
        });
       
    </script>
</body>
</html>