<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <meta http-equiv="pragma" content="no-cache">
    <title>VP贷-享全款的汽车分期</title>
    <link href="/public/wap/images/logo-ico.png" type="image/x-icon" rel="shortcut icon">
    <link rel="stylesheet" href="/public/wap/css/framework7.ios.css">
    <link rel="stylesheet" href="/public/wap/css/framework7.ios.colors.min.css">
    <link rel="stylesheet" type="text/css" href="/public/wap/css/my-app.css" media="all">  
    <link rel="stylesheet" type="text/css" href="/public/plugs/webuploader/webuploader.css">
    <link rel="stylesheet" type="text/css" href="/public/plugs/webuploader/webuploader.gemini.css"> 
    <script type="text/javascript">
        var BASE_URL = ""; 

        var orderData = {};
        var picList = [];
        
        
        var keyList = [
            {
                form_key:"orderSupplement_pic_1",
                form_label:"身份证正面照"
            },
            {
                form_key:"orderSupplement_pic_2",
                form_label:"身份证反面照"
            },
            {
                form_key:"orderSupplement_pic_3",
                form_label:"人车合照"
            },
            {
                form_key:"orderSupplement_pic_4",
                form_label:"合格证"
            },
            {
                form_key:"orderSupplement_pic_5",
                form_label:"保单证书"
            },
            {
                form_key:"orderSupplement_pic_6",
                form_label:"购车发票"
            },
            {
                form_key:"orderSupplement_pic_7",
                form_label:"首付凭证"
            },
            {
                form_key:"orderSupplement_pic_8",
                form_label:"垫资合同"
            }];

            for(var i=0 ; i<keyList.length;i++){            
            if(typeof(orderData[keyList[i].form_key]) == "object" ){
                picList.push(orderData[keyList[i].form_key]);
                keyList[i].has = 1;
            }
        }
    </script>  
    <style type="text/css">
        .order-item {
            height: 38px;
            line-height: 38px;
            font-size: 14px;
        }
        .order-idcardNum {
            letter-spacing: 0px;
        }
        #order-amount {
            padding-left: 0;
            border-top: 1px solid #dedede;
            border-bottom: 1px solid #dedede;
        }
        .pic-cont-block {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap; 
        }
        .pic-cont-item {
            width: 90px;
            height: 90px;
            line-height: 90px;
            overflow: hidden;     
            border: 1px solid #dedede;
            border-radius: 5px;
            background: #f2f2f2;
            margin: 5px 0;
        }
        .pic-cont-item img {
            width: 100%;
            vertical-align: middle;
        }
    
    </style>
</head>
<body>   
    <div class="views">
        <div class="view view-main">
            <div class="navbar wb">
                <div class="navbar-inner">
                    <div class="left">
                        <a href="javascript:history.go(-1)" class="link icon-only back">
                            <i class="icon icon-back color-orange"></i>
                        </a>
                    </div>
                    <div class="center" id="navbar_title">订单资料提交</div>
                    <div class="right"></div>
                </div>
            </div>
            <div class="pages navbar-through">
                <div class="page">                     
                    <div class="page-content">
                        <div class="list-block">
                            <ul>
                                <li class="accordion-item accordion-item-expanded">
                                    <a href="#" class="item-content item-link">
                                        <div class="item-inner">
                                          <div class="item-title">订单编号(<span class="order-sn">A12331232</span>)</div>
                                        </div>
                                    </a>
                                    <div class="accordion-item-content">
                                        <div class="content-block">
                                            <ul class="clearfix">
                                                <li class="order-item">
                                                    <div class="order-info-type">
                                                        <span>订单业务</span>
                                                        <span class="right order-type">新车垫资</span>
                                                    </div>
                                                </li>
                                                <li class="order-item">
                                                    <div class="order-info-amount">
                                                        <span>借贷金额</span>
                                                        <span class="right order-amount">20,000元</span>
                                                    </div>
                                                </li>
                                                <li class="order-item">
                                                    <div class="order-info-date">
                                                        <span>申请时间</span>
                                                        <span class="right order-date">2017:03:08</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="accordion-item">
                                    <a href="#" class="item-content item-link">
                                        <div class="item-inner">
                                            <div class="item-title">客户信息</div>
                                        </div>
                                    </a>
                                    <div class="accordion-item-content">
                                        <div class="content-block">
                                            <ul class="clearfix">
                                                <li class="order-item">
                                                    <div class="order-info-loaner">
                                                        <span>客户姓名</span>
                                                        <span class="right order-loaner">李博</span>
                                                    </div>
                                                </li>
                                                <li class="order-item">
                                                    <div class="order-info-mobile">
                                                        <span>手机号</span>
                                                        <span class="right order-mobile">13432456789</span>
                                                    </div>
                                                </li>
                                                <li class="order-item">
                                                    <div class="order-info-idcardNum">
                                                        <span>身份证号</span>
                                                        <span class="right order-idcardNum">332112197608230183</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="accordion-item">
                                    <a href="#" class="item-content item-link">
                                        <div class="item-inner">
                                            <div class="item-title">流程状态</div>
                                        </div>
                                    </a>
                                    <div class="accordion-item-content">
                                        <div class="content-block">
                                            
                                        </div>
                                    </div>
                                </li>
                                <li class="accordion-item">
                                    <a href="#" class="item-content item-link">
                                        <div class="item-inner">
                                            <div class="item-title">附件信息</div>
                                        </div>
                                    </a>
                                    <div class="accordion-item-content">
                                        <div class="content-block pic-info">
                                            <div class="pic-cont">
                                                <div class="pic-cont-title">个人信息</div>
                                                <div class="pic-cont-block">
                                                    <div class="pic-cont-item"><img src="/public/wap/images/2.png"></div>
                                                    <div class="pic-cont-item"><img src="/public/wap/images/down_payment.jpg"></div>
                                                    <div class="pic-cont-item"><img src="/public/wap/images/drivingLic.png"></div>
                                                </div>
                                            </div>
                                             <div class="pic-cont">
                                                <div class="pic-cont-title">证件信息</div>
                                                <div class="pic-cont-block">
                                                    <div class="pic-cont-item"><img src="/public/wap/images/2.png"></div>
                                                    <div class="pic-cont-item"><img src="/public/wap/images/down_payment.jpg"></div>
                                                    <div class="pic-cont-item"><img src="/public/wap/images/drivingLic.png"></div>
                                                    <div class="pic-cont-item"><img src="/public/wap/images/2.png"></div>
                                                    <div class="pic-cont-item"><img src="/public/wap/images/down_payment.jpg"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="dialog" class="dialog">
        <div id="dialogContent">
            <div id="dialogMain"></div>
        </div>
    </div>
    <div id="loading"></div>
    <script type="text/javascript" src="/public/wap/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/public/wap/js/framework7.min.js"></script>
    <script type="text/javascript" src="/public/wap/js/my-app.js?v=1"></script>
    <script type="text/javascript" src="/public/plugs/webuploader/webuploader.0.16.min.js"></script>
    <script type="text/javascript" src="/public/plugs/webuploader/webuploader.gemini.js"></script>
    <script type="text/javascript" src="/public/wap/js/order.js"></script>
    <script type="text/javascript"> 
        var order_id = getUrlParam('id');
        ajax_jquery({
            url: apiUrl +'/api/order/detail?t=' + Math.random(),
            data: order_id,
            success: function (resp) {
                // resp = {
                //     "code": 1,
                //     "msg": "获取成功！",
                //     "data":{
                //                 "id": 1013,
                //                 "sn": "2016122149555552",
                //                 "uid": 2,
                //                 "bank_uid": 3,
                //                 "type": 2,
                //                 "name": "王业茂",
                //                 "mobile": "",
                //                 "idcard_num": "410425198904114038",
                //                 "idcard_face_pic": 93,
                //                 "idcard_back_pic": 94,
                //                 "driving_lic_pic": 95,
                //                 "loan_limit": 130000,
                //                 "create_time": 1482301249,
                //                 "update_time": 1482301620,
                //                 "status": 1,
                //                 "finance": 0,
                //                 "addr": "车商门店",
                //                 "descr": "",
                //                 "reject_reason": 0
                //             }
                // }

                if (resp.code == "1") {
                    $(".order-sn").text(resp.data.sn);
                    $(".order-type").text("新车垫资");
                    $(".order-amount").text(resp.data.finance);
                    $(".order-date").text(formatDate(resp.data.create_time));
                    $(".order-loaner").text(resp.data.name);
                    $(".order-mobile").text(resp.data.mobile);
                    $(".order-idcard_num").text(resp.data.idcard_num);
                } else {
                    if (typeof(resp.msg) == 'string' && resp.msg != '') {
                        ui_alert(resp.msg);
                    } else {
                        ui_alert("找回密码请求失败");
                    }
                }
            }
        });
        $(function(){
            var myPhotoBrowserPopup = myApp.photoBrowser({
                photos : [
                    {
                        url: 'http://lorempixel.com/1024/1024/sports/1/',
                        caption: 'Caption 1 Text'
                    },
                    {
                        url: 'http://lorempixel.com/1024/1024/sports/2/',
                        caption: 'Second Caption Text'
                    },
                    {
                        url: 'http://lorempixel.com/1024/1024/sports/3/',
                        caption: 'Second Caption Text'
                    },
                ],
                theme: 'dark',
                type: 'standalone'
            });
            $$('.pic-info').on('click','.pic-cont-item', function () {
                myPhotoBrowserPopup.open();
            });
            $("#submit").click(function(){       
                var loan_limit = $('#loan_limit').val();
                
                if(loan_limit == ""){
                    ui_alert('请输入垫资金额');
                    return;
                }else if( $('#uploadpic  .fileList img[data-id]').length < keyList.length ){
                    ui_alert("照片资料不全，请补充上传");
                    return;
                }
                ajax_jquery({
                    type: 'post',
                    url: '',
                    datatype:'json',
                    data: {
						'loan_limit':loan_limit
                    },
                    success: function(data) { // data 保存提交后返回的数据，一般为 json 数据
                        if(data.code == 1){
                            ui_alert("订单提交成功", function () {
                                  window.location.href = '/mobile/order/indexDealer' ;            
                             })
                        }else{
                            if (typeof(data.msg) == 'string') {
                                ui_alert(data.msg);
                            }  
                        }
                    }
                }); 
            });
        });
    </script>  

</body>
</html>