.f-fl {
	float: left;
}
.account-index .span12 {
	margin-left: 0;
	padding-right: 90px;
	border-bottom: 1px solid #ddd;
	position: relative;
	min-width:900px;
}
.account-index .protraid {
	width: 90px;
}
.account-index .protraid img{
	width: 60px;
	height: 60px;
}
.account-index .protraid i:before {
	font: 50px/1em "Glyphicons";
	color: #ddd;
	top: 50%;
}
.account-index .sub-title {
	color: #999;
}
.account-index .index-info {
	font-size: 24px;
	line-height:3;
}
.account-index .index-info i:before {
	margin-top: -12px;
}
i.f-colgreen:before {
	color: #25c398;
}
i.colyellow:before {
	color: #f9bf0d;
}
.grade {
	font-size: 48px;
	line-height: 1;
}
.high {
	color: #25c398;
}
.medium {
	color: #f9bf0d;
}
.low {
	color: #e12222;
}
.set-btn {
	position: absolute;
	right: 90px;
	width: 100px;
	top: 50%;
	transform: translateY(-50%);
}
.progress-success .bar {
	background-color: #25c398;
}