.selectParm {
	display: inline-block;
	margin-left: 0;
}
.selectParm li {
	display: inline-block;
	width: 80px;
	text-align: center;
	cursor: default;
}

.selectParm li.active {
	background-color: #dedede;
}

#payOrderModal .controls {
	line-height: 36px;
	height: 30px
}
