.selectParm {
	display: inline-block;
	margin-left: 0;
}
.selectParm li {
	display: inline-block;
	width: 80px;
	text-align: center;
	cursor: pointer;
}
.selectParm li.active {
	background-color: #dedede;
}

