{extend name="public/base"/}
{block name="style"}
<link rel="stylesheet" type="text/css" href="/public/business/css/selectArea.css">
<link rel="stylesheet" type="text/css" href="/public/business/lib/metronic/css/select2_metro.css">
<style>
.pt5{
	padding-top: 5px;
}
</style>
<script type="text/javascript">

</script>
{/block}
{block name="body"}
<div class="main-box clearfix">
	<header class="main-box-header clearfix">
		<div class="pull-left">
			<h2>{$meta_title}</h2>
		</div>
	</header>
	<div class="main-box-body clearfix">
		
	</div>
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="/public/business/lib/metronic/js/select2.min.js" ></script>
<script>

</script>
{/block}