{extend name="public/base"/}
{block name="style"}
<link rel="stylesheet" type="text/css" href="__CSS__/metronic.css"/>
<link rel="stylesheet" type="text/css" href="__CSS__/DT_bootstrap.css"/>
<script type="text/javascript">
</script>
{/block}
{block name="body"}
<div class="main-box clearfix">
	<header class="main-box-header clearfix">
		<div class="pull-left">
			<h2>{$meta_title}</h2>
		</div>
	</header>
	<div class="main-box-body clearfix">
		<div class="clearfix">
			<table class="table table-hover" id="table-blacklist">
				<thead>
					<tr>
						<th>编号</th>
						<th>用户姓名</th>
						<th>身份证号</th>
						<th>手机号</th>
						<th>设备号</th>
						<th>银行卡号</th>
						<th>渠道来源</th>
						<th>添加时间</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="/public/business/lib/metronic/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/public/business/lib/metronic/js/DT_bootstrap.js"></script>
<script type="text/javascript" src="__JS__/table-managed.js"></script>
<script type="text/javascript" src="__JS__/manager.js"></script>
<script type="text/javascript">
	function tpl(data){
		var html = '';
		if(typeof(data) =='object'){
		for(var index = 0; index < data.length; index++){
		  	html += '<tr class="odd gradex">'
		  		+'<td>' + data[index].uid + '</td>'
		  		+'<td>'+ data[index].name +'</td>'
		  		+'<td>'+ data[index].idcard+'</td>'
		  		+'<td>'+ data[index].mobile +'</td>'
		  		+'<td>'+ data[index].device_number +'</td>'
		  		+'<td>'+ data[index].bankcard+'</td>'
		  		+'<td>'+ data[index].data_sources +'</td>'
		  		+'<td>'+ formatDate(data[index].create_time) +'</td>'
		  		+'<td><a href="/admin/risk/addBlacklist?id='+ data[index].id + '">审核</a></td>'
		  		 +'</tr>'
			}
		}
		return html;
	};

	$('#table-blacklist tbody').html(tpl(info));

    $(function(){
    	TableManaged.init();
    });
</script>
{/block}