{extend name="public/base"/}
{block name="style"}
<link rel="stylesheet" type="text/css" href="__CSS__/metronic.css"/>
<link rel="stylesheet" type="text/css" href="__CSS__/DT_bootstrap.css"/>
<script type="text/javascript">
	var info = {};
	try {
		info = JSON.parse('{$infoStr}');
	} catch (e) {
		alert("数据异常");
	}
</script>
{/block}
{block name="body"}
<div class="main-box clearfix">
	<header class="main-box-header clearfix">
		<div class="pull-left">
			<h2>{$meta_title}</h2>
		</div>
	</header>
	<div class="main-box-body clearfix">
		<div class="clearfix">
			<table class="table table-hover" id="table-rating">
				<thead>
					<tr>
						<th>客户ID</th>
						<th>真实姓名</th>
						<th>身份证号</th>
						<th>创建人</th>
						<th>渠道来源</th>
						<th>创建时间</th>
						<th>状态</th>
						<th>评级方式</th>
						<th>信用等级</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="/public/business/lib/metronic/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/public/business/lib/metronic/js/DT_bootstrap.js"></script>
<script type="text/javascript" src="__JS__/table-managed.js"></script>
<script type="text/javascript" src="__JS__/manager.js"></script>
<script type="text/javascript">

	var creditStatusText = ["待评级","已通过","更换银行卡","更换手机号"];
	
	function tpl(data){
		var html = '';
		if(typeof(data) =='object'){
		for(var index = 0; index < data.length; index++){
			var userInfo = data[index];
			if(userInfo.credit_result < 4 &&  userInfo.credit_result > -1){
				userInfo.credit_status = creditStatusText[userInfo.credit_result];
			}else{
				userInfo.credit_status = "审核拒绝";
			}
		  	html += '<tr class="odd gradex">'
		  		+'<td>'+ userInfo.uid + '</td>'
		  		+'<td>'+ userInfo.realname +'</td>'
		  		+'<td>'+ userInfo.idcard +'</td>'
		  		+'<td>'+ '-' +'</td>'
		  		+'<td>'+ '-' +'</td>'
		  		+'<td>'+ formatDatetime(userInfo.create_time) +'</td>'
		  		+'<td>'+ userInfo.credit_status +'</td>'
		  		+'<td>'+ '人工评级' +'</td>'
		  		+'<td>'+ (userInfo.credit_level||'-') +'</td>'
		  		+'<td><a href="/admin/risk/ratingInfo?id='+ userInfo.id + '">评级</a></td>'
		  		 +'</tr>'
			}
		}
		return html;
	};

	//var info = [{},{}];
	$('#table-rating tbody').html(tpl(info));

    $(function(){
    	TableManaged.init();
    });
</script>
{/block}