{extend name="public/base"/}
{block name="style"}
<link rel="stylesheet" type="text/css" href="__CSS__/metronic.css"/>
<link rel="stylesheet" type="text/css" href="__CSS__/DT_bootstrap.css"/>
<script type="text/javascript">

</script>
{/block}
{block name="body"}
<div class="main-box clearfix">
	<header class="main-box-header clearfix">
		<div class="pull-left">
			<h2>{$meta_title}</h2>
		</div>
	</header>
	<div class="main-box-body clearfix">
		<div class="clearfix">
			<table class="table table-hover" id="table-rating">
				<thead>
					<tr>
						<th>客户ID</th>
						<th>真实姓名</th>
						<th>身份证号</th>
						<th>创建人</th>
						<th>渠道来源</th>
						<th>创建时间</th>
						<th>状态</th>
						<th>评级方式</th>
						<th>信用等级</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="/public/business/lib/metronic/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/public/business/lib/metronic/js/DT_bootstrap.js"></script>
<script type="text/javascript" src="__JS__/table-managed.js"></script>
<script type="text/javascript" src="__JS__/manager.js"></script>
<script type="text/javascript">
	function tpl(data){
		var html = '';
		if(typeof(data) =='object'){
		for(var index = 0; index < data.length; index++){
		  	html += '<tr class="odd gradex">'
		  		+'<td>' + 'kh10001' + '</td>'
		  		+'<td>'+ '张无忌' +'</td>'
		  		+'<td>'+ '1234567890123456' +'</td>'
		  		+'<td>'+ '张翠山' +'</td>'
		  		+'<td>'+ '冰火岛' +'</td>'
		  		+'<td>'+ '1001-01-23' +'</td>'
		  		+'<td>'+ '已评级' +'</td>'
		  		+'<td>'+ '人工评级' +'</td>'
		  		+'<td>'+ '优' +'</td>'
		  		+'<td><a href="/admin/risk/ratingInfo?id='+ '10001' + '">评级</a></td>'
		  		 +'</tr>'
			}
		}
		return html;
	};

	var info = [{},{}];
	$('#table-rating tbody').html(tpl(info));

    $(function(){
    	TableManaged.init();
    });
</script>
{/block}