{extend name="base"/}
{block name="style"}
<link rel="stylesheet" href="/public/business/lib/metronic/css/select2_metro.css">
<link rel="stylesheet" href="/public/business/lib/metronic/css/DT_bootstrap.css">
<link rel="stylesheet" href="/public/business/css/myItem.css">
<script type="text/javascript">
	var info = {};
	try {
		info = JSON.parse('{$infoStr}');
	} catch (e) {
		alert("数据异常");
	}
</script>
{/block}

{block name="body"}
<div class="alert hide">
	<a class="close"></a>
	<span></span>
</div>
<div>
	<div class="select-block">
		<span class="selectParm-title">业务类型:</span>
		<ul class="selectParm selectOrderType">
			<li data='' class="active" >全部</li>
			<li data='1'>二手车按揭贷款</li>
			<li data='2'>二手车按揭垫资</li>
			<li data='3'>新车按揭贷款</li>
			<li data='4'>新车按揭垫资</li>
		</ul>
	</div>
	<div class="select-block">
		<span class="selectParm-title">日期范围:</span>
		<ul class="selectParm selectOrderDate">
			<li data='' class="active">全部</li>
			<li data='1'>今天</li>
			<li data='2'>最近7天</li>
			<li data='3'>1个月</li>
			<li data='4'>2个月</li>
			<li data='5'>3个月</li>
		</ul>
	</div>
	<div class="select-block">
		<span class="selectParm-title">交易状态:</span>
		<ul class="selectParm selectOrderStatus">
			<li data='' class="active">全部</li>
			<li data='-1'>待还</li>
			<li data='1'>已还</li>
			<li data='2'>逾期</li>
		</ul>
	</div>
</div>
<div class="portlet box grey">
	<div class="portlet-title">
		<div class="caption">还款项目</div>
	</div>
	<div class="portlet-body">
		<table class="table table-striped table-bordered table-hover" id="table-repayItem">
			<thead>
				<tr>
					<th>订单编号</th>
					<th>订单类型</th>
					<th>借款时间</th>
					<th>业务员</th>
					<th>借款金额</th>
					<th>费用</th>
					<th>还款期限/天</th>
					<th>还款状态</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>

<!-- 还款弹窗 -->
<div id="repayOrderModal" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<h3>订单还款页</h3>
		<div class="alert hide">
			<a class="close"></a>
			<span></span>
		</div>
	</div>
	<div class="modal-body">
		<div class="form-horizontal">
		<input type="hidden" id="repay_orderId">
		<input type="hidden" id="repay_amount">
			<div class="control-group">
				<label class="control-label">还款金额</label>
				<div class="controls">
					<span class="text" id="modal-repayAmount"></span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">银行卡</label>
				<div class="controls">
					<label class="radio">
						<div class="radio">
							<span><input type="radio" name="bankcard" value="bankcard"></span>
						</div><span id="bankcardText"></span><input type="hidden" id="bankcard">
					</label>
					<label class="radio line">
						<div class="radio">
							<span><input type="radio" name="bankcard" value="priv_bankcard"></span>
						</div><span id="priv_bankcardText"></span><input type="hidden" id="priv_bankcard">
					</label>
					<label class="radio">
						<div class="radio">
							<span><input type="radio" name="bankcard" value="otherBankcard"></span>
						</div>其他账号<input type="number" id="otherBankcard" placeholder="请输入银行卡号" style="display: none;">
					</label>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">交易密码</label>
				<div class="controls">
					<input id="payPassword" type="password" class="m-wrap" maxlength="6">
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" data-dismiss="modal" class="btn">关闭</button>
		<a type="button" class="btn red" id="repayOrderBtn">确认还款</a>
	</div>
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="/public/business/lib/metronic/js/select2.min.js"></script>
<script type="text/javascript" src="/public/business/lib/metronic/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/public/business/lib/metronic/js/DT_bootstrap.js"></script>
<script type="text/javascript" src="/public/guarantee/js/table-managed.js"></script>
<script>
	function tpl(data){
		var html = '';
		if(typeof(data) =='object'){
		for(var index = 0; index < data.length; index++){
			var orderOpera = '';
			if(data[index].status == '-1'){
				orderOpera = '<a class="orderOpera" data-toggle="modal">还款</a>'
			}
		  	html += '<tr class="odd gradex">'
		  		+'<td class="order_id" data="'+ data[index].order_id +'">' + data[index].sn + '</td>'
		  		+'<td>'+ g_orderType[data[index].type] +'</td>'
		  		+'<td>'+ formatDate(data[index].repay_time) +'</td>'
		  		+'<td>'+ data[index].yewu_realname +'</td>'
		  		+'<td class="order_loanLimit" data="'+data[index].repay_money+'">￥'+ formatAmount(data[index].repay_money) +'</td>'
		  		+'<td>￥'+ formatAmount(data[index].manage_money) +'</td>'
		  		+'<td>'+ data[index].loantime +'天</td>'
		  		+'<td>'+ g_repayStatus[data[index].status] +'</td>'
		  		+'<td>'+ orderOpera +'</td>'
		  		 +'</tr>'
			}
		}
		return html;
	};

	function ajaxRepayItem(type,dateRange,status){
		$('#table-repayItem').dataTable().fnClearTable();//清空原数据
		ajax_jquery({
	        url: apiUrl +'/business/user/repayItem',
	        data:{
	            'type': type,
	            'dateRange': dateRange,
	            'status': status
	        },
	        success:function(resp){
	            if (resp.code == "1" ) {
	            	$('#table-repayItem tbody').html(tpl(resp.data));
	            	$('#table-repayItem').dataTable({
	            		"bDestroy":true,
	            		"aaSorting": [
		                    [ 0, "desc" ]
		                ]
	            	});
	            } else {
	                if (typeof(resp.msg) == 'string') {
	                    ui_alert(resp.msg);
	                    return false;
	                }
	            }
	        }
		});
	}

	$('#bankcardText').text(info.bank_account_id);
	$('#priv_bankcardText').text(info.priv_bank_account_id);
	$('#bankcard').val(info.bank_account_id);
	$('#priv_bankcard').val(info.priv_bank_account_id);
	$('input[name="bankcard"]').change(function(){
		if($(this).val() == 'otherBankcard'){
			$('#otherBankcard').slideDown();
		}else{
			$('#otherBankcard').slideUp();
		}
	});

	jQuery(document).ready(function() {
	   TableManaged.init();
	   ajaxRepayItem('','','');
	   $('.selectParm').on('click','li',function(){
	   		$(this).addClass('active').siblings('li').removeClass('active');
	   		var orderType = $('.selectOrderType li.active').attr('data');
	   		var orderDateRange = $('.selectOrderDate li.active').attr('data');
	   		var orderStatus = $('.selectOrderStatus li.active').attr('data');
	   		ajaxRepayItem(orderType,orderDateRange,orderStatus);
	   });

	   $('#table-repayItem').on('click','.orderOpera',function(){
	   		var repay_orderId = $(this).parent('td').siblings('.order_id').attr('data');
	   		var repay_amount = $(this).parent('td').siblings('.order_loanLimit').attr('data');
	   		$('#repay_orderId').val(repay_orderId);
	   		$('#repay_amount').val(repay_amount);
	   		$('#modal-repayAmount').text(formatAmount(repay_amount));
	   		$('#repayOrderModal').modal();
	   	});
	   	$('#repayOrderBtn').click(function(){
	   	 	var orderId = $('#repay_orderId').val();
	   		var orderAmount = $('#repay_amount').val();
	   		// var bankcard = $('#repay_bankcard').val();
	   		var payPwd = $('#payPassword').val();
	   		var bankcardChecked = $('input[name="bankcard"]:checked').val();
	   		var bankcard = $('#'+bankcardChecked).val();
	   		if(typeof bankcard == 'undefined' || bankcard ==''){
				ui_alert("请选择还款银行卡");
	            return false;
	   	 	}else if(payPwd == ''){
	   	 		ui_alert("请输入交易密码");
	            return false;
	   	 	}else if(orderId == ""){
	   	 		ui_alert("未获取订单号，请重试");
	            return false;
	   	 	}
	   	 	ajax_jquery({
		        url: apiUrl +'/guarantee/user/repayItem',
		        data:{
		            'payPwd': payPwd,
		            'orderId': orderId,
		            'bankcard': bankcard
		        },
		        success:function(resp){
		            if (resp.code == "1" ) {
		            	ui_alert("还款成功","success");
		            	setTimeout('window.location.reload()',2000);
		            } else {
		                if (typeof(resp.msg) == 'string') {
		                    ui_alert(resp.msg);
		                    return false;
		                }
		            }
		        }
			});
	   	})
	});
</script>
{/block}